{% load widget_tweaks %}

<form method="post" action="">
    {% csrf_token %}
    <div class="modal-header">
        <h3 class="modal-title"> {% if viewtype == 'add_tenant' %} Add Tenant {% else %}Create{% endif %}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% if viewtype == 'add_tenant' %}
    <div class="modal-body">
        <div class="mb-2">

        </div>
        <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" name="username" maxlength="56" placeholder="Username" class="form-control" required=""
                id="id_username">
        </div>
        <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" name="password" placeholder="********" class="textinput textInput form-control"
                required="" id="id_password">
        </div>
        <div class="form-group">
            <label for="id_room">Room</label>
            <select name="room" placeholder="Room" class="form-control" id="id_room">
                <option value="" selected="">---------</option>
                {% for room in rooms %}
                <option value="{{room.pk}}">{{room}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% else %}
    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>

        {% for field in form %}
        {% if field.label == 'Property address' %}
        <script>
            var searchInput = 'id_property_address'

            $(document).ready(function () {
                var autocomplete;
                autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
                    types: ['geocode']
                })
            }); 
        </script>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="text" name="property_address" maxlength="256" placeholder="{{field.label}}" class="form-control"
            id="{{field.id_for_label}}">
        <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% else %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class="form-control" placeholder=field.label %}
            <div class="{% if field.errors %} invalid{% endif %}">
                {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {%endif%}
        {% endfor %}
    </div>{% endif %}


    <div class="modal-footer">
        <button type="button" class="submit-btn btn btn-primary">{% if viewtype == 'add_tenant' %} Add Tenant
            {% else %}Create{% endif %}</button>
    </div>

</form>