{% extends "layout/layout.html" %}
{% load static %}

{% block title %}
  FAQ
{% endblock %}

{% block content %}

<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <div class="row" style="margin: 20px 0 20px 0;">
      <div class="col-sm-1"></div>
      <div class="col-sm-9 bg-light rounded" style="padding: 20px;">
        <h3>Frequently Asked Questions (FAQ)</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan elementum mauris et sodales. Donec rutrum purus sed lorem malesuada sagittis. Etiam a orci eget lacus consequat euismod. Donec pharetra, quam ac tempus suscipit, mi
          nunc tempus libero, vitae molestie odio lectus et orci. Curabitur ac scelerisque purus, luctus pulvinar nibh. Praesent vestibulum sit amet urna eget posuere. Vestibulum sit amet imperdiet sapien. Etiam porttitor quam lobortis justo
          venenatis, eu auctor lorem sollicitudin.

          Fusce aliquam tristique ligula, nec feugiat nibh ultricies eget. Etiam id ligula velit. Maecenas feugiat velit tellus, quis sollicitudin lacus dictum et. Vestibulum faucibus sit amet nisi id ullamcorper. Aenean faucibus diam ut ante
          ultricies ultricies. Sed a tincidunt lorem. Nunc facilisis, dui sit amet porta mattis, sapien velit tempus libero, nec ornare ante erat sed nibh. Sed non justo sed ex aliquam elementum. Praesent elementum a sapien at commodo. Cras vehicula
          nec lectus ac iaculis. Ut dignissim ligula eu tellus suscipit fermentum. Etiam id ultrices risus. Ut placerat mi lorem, condimentum aliquam ligula lacinia quis.

          Vivamus orci erat, lobortis in fermentum eu, molestie quis sem. Donec volutpat, nisl laoreet auctor condimentum, justo nunc eleifend ex, non eleifend nisi nulla in sem. Quisque tristique augue et leo iaculis consectetur at vitae nisi.
          Suspendisse potenti. Mauris eu mi varius, tempor metus commodo, fermentum urna. Suspendisse potenti. Donec bibendum ante eu scelerisque pellentesque. Donec eleifend eu ex quis malesuada. Nam commodo venenatis eros. Aliquam vestibulum in
          lectus vel commodo. Ut faucibus placerat ligula, non condimentum urna feugiat vel. Nam vel nibh vitae risus dictum pharetra ut eget purus. Etiam a dapibus massa. Etiam eu consequat leo. Integer et sodales ipsum, vitae efficitur purus.
          Maecenas id consequat mi.

          In auctor arcu ac sem consequat, at vehicula justo elementum. Aliquam dignissim dignissim risus. Nunc dictum lectus non erat imperdiet, in semper ligula condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Donec placerat luctus feugiat. Donec egestas fringilla dictum. Phasellus venenatis tincidunt ipsum vel finibus. In imperdiet, eros sit amet fermentum cursus, ante magna pulvinar nisl, ultrices malesuada massa purus sit amet
          est. Praesent finibus condimentum tellus, eget malesuada metus placerat ut. Phasellus condimentum lacus eget sapien vehicula lacinia. Integer pellentesque ex viverra risus rutrum, sodales semper nunc malesuada. Vestibulum ornare elementum
          quam sit amet vulputate.

          Nullam dapibus lectus ac augue bibendum, eu faucibus ligula luctus. Vivamus tempor, leo et consectetur lobortis, erat urna condimentum risus, nec ornare tellus magna at purus. Mauris fringilla aliquet quam vel molestie. Phasellus quis quam
          eget mi mollis gravida. Fusce vitae finibus lorem. Maecenas augue augue, consectetur at neque volutpat, efficitur hendrerit odio. Quisque tincidunt commodo mi ut dignissim. Nulla ac egestas mi.

          Fusce sit amet luctus enim. In efficitur, sapien sed ornare ultricies, ipsum nibh dictum ante, eget dapibus nulla elit vitae nunc. Vestibulum ullamcorper pharetra turpis, in luctus ligula posuere quis. Etiam sed aliquam ex, eu feugiat
          lacus. Morbi nisl libero, lobortis nec velit non, posuere volutpat massa. Sed in neque eget nibh condimentum iaculis. Maecenas elementum eget neque vitae vulputate.

          Donec maximus consectetur est interdum tempor. Fusce eget suscipit erat. Suspendisse sagittis nibh a commodo pellentesque. Maecenas consequat ante vel purus rutrum, eu porttitor risus ullamcorper. In finibus elementum ultrices. Cras tempor
          sollicitudin enim sed consequat. Morbi non nunc in nulla finibus finibus a a mauris. Morbi sed fermentum lectus, sed hendrerit risus. Aenean maximus dui diam, sed ullamcorper odio ullamcorper sit amet. Sed arcu lorem, gravida aliquam elit
          non, vulputate cursus mauris. Cras eget faucibus tellus.

          Proin sodales nisi quam, at ultricies urna faucibus euismod. Suspendisse tristique placerat ipsum, sed tincidunt ante egestas a. Donec id massa ipsum. Praesent fermentum massa eget urna fermentum pharetra. Quisque feugiat dui sed elit
          condimentum scelerisque. Maecenas eu nisl posuere, ultrices neque eget, euismod sapien. Nulla dui diam, dapibus non condimentum ut, ultrices eget felis. Vestibulum vulputate at leo id interdum. Etiam eleifend eu tortor ac lobortis. Integer
          quis est ac arcu tristique suscipit vel vel metus. Donec varius erat non libero convallis maximus. Vestibulum ac egestas turpis. Nullam vel ultrices nulla.

          Morbi pharetra eros diam, nec rhoncus justo lobortis eu. Maecenas non blandit tortor, imperdiet convallis odio. Nunc fermentum, odio ac facilisis finibus, odio tortor venenatis erat, vehicula eleifend leo diam eget turpis. In ultricies,
          dolor id tempor semper, metus ante fermentum enim, at vulputate tellus nisi quis orci. Sed vel tristique nulla, eget blandit est. Sed eget purus vitae felis scelerisque volutpat ut id metus. Nunc sed lectus accumsan magna suscipit congue in
          id nisl. Duis lobortis sapien turpis, aliquam dapibus sapien venenatis et. Nulla facilisi.</p> <br>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<!-- end of main content -->

{% endblock %}
