{% extends "layout/layout_landing.html" %}
{% load static %}

{% block title %}
Roomy
{% endblock %}

{% block content %}

<div class="d-flex flex-column flex-wrap justify-content-center align-items-center"
  style="width: 100%; height: 100vh; margin-bottom: 100px; background-image: url({% static "img/banner.jpg" %}); background-repeat: no-repeat; background-size: cover; background-position: center;">

  <!-- search bar -->
  <div class="d-flex justify-content-center align-items-center" style="width: 100%; margin-bottom: 10px;">
    <form class="form-inline mr-auto mb-4 d-flex justify-content-center" _lpchecked="1" style="width: 100%; margin-bottom: 50px;" action="/explore/?search=q" method="GET">
      <div class="input-group mb-3 d-flex justify-content-center align-items-center" style="width: 80%;">
        <input type="search" name="q" class="form-control form-control-lg" placeholder="Search for property or location" aria-label="Search" aria-describedby="button-addon2" style="width: 100%;">
        <div class="input-group-append">
          <button class="btn btn-elegant btn-rounded my-0 waves-effect waves-light" type="button" id="button-addon2">Search</button>
        </div>
      </div>
    </form>
  </div>


</div>

<!-- main content -->
<div class="container-fluid">
  <div class="container">

    <!-- places -->
    <div class="row d-flex flex-column flex-wrap justify-content-center align-items-center" style="margin-bottom: 30px;">
      <h3>Places</h3>
      <span style="margin:0 80px 0 80px; text-align: center;">Donec nisi nibh, pretium condimentum interdum at, faucibus in purus. Proin volutpat nunc at libero interdum mollis.</span>
    </div>
    <div class="row d-flex flex-wrap justify-content-center align-items-center" style="margin-bottom: 100px;">

      <div class="col-md-2" style="height: 250px; margin: 5px; padding: 0; background-color: red; background-image: url('/static/img/placeholder_500x500.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <a href="/explore/?search=manila" class="d-flex justify-content-center align-items-end btn btn-link" style="min-width: 100%; min-height: 100%; margin: 0; padding: 10px 10px 30px 10px; font-size: 22px;">Manila</a>
      </div>
      <div class="col-md-2" style="height: 250px; margin: 5px; background-color: purple;  background-image: url('/static/img/placeholder_500x500.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <a href="/explore/?search=taguig" class="d-flex justify-content-center align-items-end btn btn-link" style="min-width: 100%; min-height: 100%; margin: 0; padding: 10px 10px 30px 10px; font-size: 22px;">Taguig</a>
      </div>
      <div class="col-md-2" style="height: 250px; margin: 5px; background-color: green;  background-image: url('/static/img/placeholder_500x500.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <a href="/explore/?search=makati" class="d-flex justify-content-center align-items-end btn btn-link" style="min-width: 100%; min-height: 100%; margin: 0; padding: 10px 10px 30px 10px; font-size: 22px;">Makati</a>
      </div>
      <div class="col-md-2" style="height: 250px; margin: 5px; background-color: yellow;  background-image: url('/static/img/placeholder_500x500.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <a href="/explore/?search=pasay" class="d-flex justify-content-center align-items-end btn btn-link" style="min-width: 100%; min-height: 100%; margin: 0; padding: 10px 10px 30px 10px; font-size: 22px;">Pasay</a>
      </div>
      <div class="col-md-2" style="height: 250px; margin: 5px; background-color: orange;  background-image: url('/static/img/placeholder_500x500.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <a href="/explore/?search=quezon" class="d-flex justify-content-center align-items-end btn btn-link" style="min-width: 100%; min-height: 100%; margin: 0; padding: 10px 10px 30px 10px; font-size: 22px;">Quezon City</a>
      </div>

    </div>
    <!-- end of places -->

    <!-- catergories -->
    <div class="row d-flex flex-column flex-wrap justify-content-center align-items-center" style="margin-bottom: 30px;">
      <h3>Categories</h3>
      <span style="margin:0 80px 0 80px; text-align: center;">Donec nisi nibh, pretium condimentum interdum at, faucibus in purus. Proin volutpat nunc at libero interdum mollis.</span>
    </div>
    <div class="row d-flex flex-wrap justify-content-center align-items-center" style="margin-bottom: 100px;">

      <div class="col-md-3" style="height: 250px; margin: 5px; padding: 0; background-image: url('/static/img/placeholder_200x200.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <a href="#" class="d-flex justify-content-center align-items-center btn btn-link" style="min-width: 100%; min-height: 100%; margin: 0; padding: 10px; font-size: 22px;">Condominium</a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3" style="height: 250px; margin: 5px; background-image: url('/static/img/placeholder_200x200.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <a href="#" class="d-flex justify-content-center align-items-center btn btn-link" style="min-width: 100%; min-height: 100%; margin: 0; padding: 10px; font-size: 22px;">Apartment</a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3" style="height: 250px; margin: 5px; background-image: url('/static/img/placeholder_200x200.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <a href="#" class="d-flex justify-content-center align-items-center btn btn-link" style="min-width: 100%; min-height: 100%; margin: 0; padding: 10px; font-size: 22px;">Dormitory</a>
      </div>
    </div>
    <!-- condominium -->
    <div class="row d-flex flex-column justify-content-start align-items-start" style="margin-bottom: 100px;">
      <h3 style="margin-bottom: 10px;">Condominium</h3>
        <span style="margin-bottom: 10px; font-size: 14px;">Sed vulputate interdum dolor, at eleifend lacus finibus vitae.</span>
      <div class="d-flex flex-wrap justify-content-center align-items-center z-depth-1 rounded" style="width: 100%; min-height: 500px; margin-right: auto; margin-left: auto; padding: 10px;">



      </div>
    </div>
    <!-- end of condominium -->

    <!-- apartment -->
    <div class="row d-flex flex-column justify-content-start align-items-start" style="margin-bottom: 100px;">
      <h3 style="margin-bottom: 10px;">Apartment</h3>
      <span style="margin-bottom: 10px; font-size: 14px;">Phasellus et nibh maximus lectus sagittis dapibus ac in odio.</span>
      <div class="d-flex flex-wrap justify-content-center align-items-center z-depth-1 rounded" style="width: 100%; min-height: 500px; margin-right: auto; margin-left: auto; padding: 10px;">



      </div>
    </div>
    <!-- end of apartment -->

    <!-- dormitory -->
    <div class="row d-flex flex-column justify-content-start align-items-start" style="margin-bottom: 100px;">
      <h3 style="margin-bottom: 10px;">Dormitory</h3>
      <span style="margin-bottom: 10px; font-size: 14px;">Sed sodales tortor eu urna ullamcorper consequat. Curabitur vestibulum non leo at gravida. Duis id lacus dui.</span>
      <div class="d-flex flex-wrap justify-content-center align-items-center z-depth-1 rounded" style="width: 100%; min-height: 500px; margin-right: auto; margin-left: auto; padding: 10px;">


      </div>
    </div>
    <!-- end of dormitory -->
    <!-- end of catergories -->
  </div>
</div>


<!-- end of main content -->


{% endblock %}
