{% extends "layout/layout.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <div class="row d-flex flex-row justify-content-center" style="margin-top: 50px; margin-bottom: 80px;">

      <div class="d-flex flex-column justify-content-center" style="width: 100%; margin: 0; padding: 150px; background-image: url('/static/img/placeholder_1200x500.png')">
        <h1 class="text-center">Lorem Ipsum</h1>
        <p class="text-center" style="width: 100%; margin: 0 auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae metus bibendum, suscipit dolor non, ultrices metus. Integer nec libero risus.</p>
        <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;">
          <button class="btn btn-dark" style="margin-top: 10px; margin-bottom: 10px;" type="button" name="button" data-toggle="modal" data-target="#signupModal">SIGN UP</button>
          <button class="btn btn-dark" style="margin-top: 10px; margin-bottom: 10px;" type="button" name="button" data-toggle="modal" data-target="#getInTouchModal">GET IN TOUCH</button>
        </div>


        <!-- modals -->
        <!-- signup modal -->
        <form class="" action="#" method="post">

          <!-- modal -->
          <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

            <div class="modal-dialog" role="document">

              <!-- modal content -->
              <div class="modal-content" style="width: 400px; height: auto; margin: 0 auto; border-radius: 15px;">

                <!-- modal body -->
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
                            <img src="{% static "img\logo_black.png" %}" alt="" style="width:170px; height: 35px;">
                          </div>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon3" style="width: 100px;">username</span>
                            </div>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                          </div>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon3" style="width: 100px;">email</span>
                            </div>
                            <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                          </div>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon3" style="width: 100px;">password</span>
                            </div>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                          </div>
                          <div class="d-flex justify-content-center" style="margin-top: 40px;">
                            <button type="button" class="btn btn-sm btn-dark">Sign Up</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <span class="text-center" style="font-size: 12px;">By signing up, you agree to our <a href="{% url 'terms_of_use' %}" target="_blank">Terms of Use</a> and <a href="{% url 'privacy' %}" target="_blank">Privacy
                            Policy</a>.</span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- modal footer -->
                <div class="modal-footer">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center" style="font-size: 14px;">
                        <span>Already have an account?</span>
                        <a href="#" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Log in</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- end of signup modal -->

        <!-- get in touch modal -->
        <form class="" action="#" method="post">

          <!-- modal -->
          <div class="modal fade" id="getInTouchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">

              <!-- modal content -->
              <div class="modal-content" style="margin: 0 auto; border-radius: 15px;">

                <!-- modal header -->


                <!-- modal body -->
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row d-flex justify-content-center" style="padding-right: 10px; padding-left: 10px;">
                      <div class="d-flex flex-column justify-content-center" style="margin-bottom: 20px;">
                        <img src="{% static "img\logo_black.png" %}" alt="" style="width:170px; height: 35px;">
                        <h4 class="text-center" style="margin-top: 30px;">Partner With Us</h4>
                      </div>
                      <div class="form-group">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3" style="width: 100px;">Full Name</span>
                          </div>
                          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3" style="width: 100px;">Company</span>
                          </div>
                          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3" style="width: 100px;">Mobile</span>
                          </div>
                          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3" style="width: 100px;">Email</span>
                          </div>
                          <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>

                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3" style="width: 100px;">Message</span>
                          </div>
                          <textarea class="form-control" name="name" rows="5" cols="50"></textarea>
                        </div>
                        <div class="d-flex justify-content-center" style="margin-top: 40px;">
                          <button type="button" class="btn btn-sm btn-dark">Sign Up</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </form>
        <!-- end of get in touch modal -->
        <!-- end of modals -->

      </div>
    </div>
  </div>
</div>



<!-- end of main content -->




{% endblock %}
