{% extends "layout.html" %}
{% load static %}

{% block title %}
Billing
{% endblock %}

{% block extra_css %}
<!-- SELECT2 -->
<link rel="stylesheet" href="{% static 'vendor/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
{% if properties %}
{% include "_modal.html" %}
<div class="content container">
  <div class="card-content">
    <div class="container-fluid">

      <div class="" style="margin-bottom: 20px;">
        <span
          style="margin-right: 10px; color: black; font-size: 22px; text-transform: uppercase; font-weight: bold;">Billing</span>
      </div>

      <div class="d-flex flex-column justify-content-start" style="margin: 10px;">
        <span style="color: black; font-size: 18px; text-transform: uppercase; font-weight: 500;">Filter</span>
        <div class="d-flex align-items-center">
          <span style="margin-right: 10px; color: black; text-transform: capitalize;">Property</span>
          <select class="mdb-select md-form custom-select custom-select-sm form-control form-control-sm"
            style="width: auto; max-width: 300px; margin: 0 50px 0 0; font-size: 14px; text-transform: uppercase;">
            {% for property in properties %}
            <option value="{{property.pk}}" style="font-size: 14px; text-transform: uppercase;">{{ property.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row p-3">
        <div class="col">
          <div class="table table-responsive-sm">
            <table id="billing-table" class="table table-bordered table-hover" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info">
              <thead class="thead-dark">
                <tr role="row">
                  <th>Id</th>
                  <th>Date</th>
                  <th>Room</th>
                  <th>Paid</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row d-flex justify-content-center">
  <div class="d-flex justify-content-center" style="margin-top: 20px;">
    <span style="font-size: 22px;">There are currently no registered properties under your account. <a href="{% url 'property_management' %}">Click here.</a></span>
  </div>
</div>
{% endif %}
{% endblock %}

{% block header %}
Billing
{% endblock %}

{% block extra_js %}
<script type=" text/javascript" src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
        <script type="text/javascript">
          $(document).ready(function () {
            var val = $('.mdb-select').val()
            $('#billing-span').html($(".mdb-select option:selected").text());
            var table = $('#billing-table').DataTable({
              "dataType": 'json',
              "ajax": {
                "processing": true,
                "dataSrc": '',
                "url": "/billing/table/" + val,
              },
              "drawCallback": function (settings) {
                $(".read-billing").each(function () {
                  $(this).modalForm({ formURL: $(this).data('id') });
                });
                // $(".delete-billing").each(function () {
                //   $(this).modalForm({ formURL: $(this).data('id') });
                // });
                $(".update-billing").each(function () {
                  $(this).modalForm({ formURL: $(this).data('id') });
                });
              },
              "columnDefs": [
                {
                  "className": 'col-billing-id text-center',
                  "targets": 0,
                  "data": "fields.id",
                },
                {
                  "className": 'col-billing-time text-center',
                  "targets": 1,
                  "data": "fields.time",
                },
                {
                  "className": 'col-billing-room text-center',
                  "targets": 2,
                  "data": "fields.room",
                },
                {
                  "className": 'col-billing-paid text-center',
                  "targets": 3,
                  "data": "fields.paid",
                },
                {
                  "className": 'col-billing-actions text-center',
                  "targets": 4,
                  "data": "fields.id",
                },
                {
                  "className": 'col-details text-center',
                  "targets": -1,
                  "data": 'fields.id',
                  render: function (data, type, row) {
                    let render = '<button type="button" class="read-billing btn btn-sm btn-info m-1" data-id="/read/billing/' + data + '">' +
                      '<span class="fa fa-eye"></span></button>' +
                      // '<button type="button" class="delete-billing btn btn-sm btn-raised btn-warning m-1" data-id="/delete/billing/' + data + '">' +
                      // '<span class="fa fa-trash"></span></button>' +
                      '<button type="button" class="update-billing btn btn-sm btn-primary m-1" data-id="/update/billing/' + data + '">' +
                      '<span class="fa fa-edit"></span></button>';
                    return render
                  }
                },
              ]
            })
            $(".mdb-select").on("change", function () {
              table.ajax.url("/billing/table/" + $(this).val()).load();
              $('#billing-span').html($(".mdb-select option:selected").text());
            });
          });
        </script>
        {% endblock %}
