.search_area {
  /* background-color: #F53D3D; */
  width: 100%;
  box-shadow: 0px 9px 16px -10px rgba(0, 0, 0, 0.47);
  overflow: hidden;
}

.search_area .bar {
  background: rgba(145, 8, 8, 1);
  padding: 11px 0;
  width: 100%;
}

.search_area .bar .bar_wrapper {
  width: 60%;
  height: 48px;
  margin: 0 auto;
}

.search_area .bar input {
  height: 100%;
  width: 84%;
  margin: 0 1px;
  padding: 0 25px;
}

.search_area .bar button {
  height: 100%;
  width: 10%;
  padding: 0;
  margin: 0 1px;
  background-color: rgba(243, 32, 32, 1);
  border-radius: 6px 6px 6px 6px;
  color: white;
}

.search_area .bar button img {
  height: 65%;
}

@media (min-width: 756px) {
  .search_area .bar input {
    width: 80%;
  }

  .search_area .bar button {
    width: 15%;
  }
}

@media (max-width: 756px) {
  .search_area .bar .bar_wrapper {
    width: 90%;
  }

  .search_area .bar input {
    width: 77%;
  }

  .search_area .bar button {
    width: 20%;
  }
}
