body {
  background-color: #f8f7f9;

}
.content{
  min-height: 100vh;
}
footer a{
  color: #5b5b5b;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}


.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.pac-container {
  z-index: 1051 !important;
}

.wrapper-room{
  width: 350px;
  margin: 10px 5px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
  transition: 0.1s;
}

.wrapper-room:hover{
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
               12px 12px 12px 0 rgba(0, 0, 0, 0.03);

.input-custom {
  font-size: 14px;
}

.input-custom:active {
  border: 1px solid #FF3F00;
  box-shadow: none;
}

.input-custom:focus {
  border: 1px solid #FF3F00;

}
