{% extends "layout/layout.html" %}

{% block content %}
  <form class="" action="index.html" method="post">
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" name="button"></button>
    <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
       Login with google
     </a>
  </form>
{% endblock %}
