asgiref
Babel
certifi
chardet
defusedxml
Django
django-bootstrap-modal-forms
django-crispy-forms
django-debug-toolbar
django-phonenumber-field
django-places
django-rest-framework
django-sslserver
django-widget-tweaks
djangorestframework
geographiclib
geopy
idna
oauthlib
phonenumbers
Pillow
places
PyJWT
python-decouple
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
mysqlclient