{% extends "web/base.html" %}
{% load static %}
{% block extra_js %}
<script type="text/javascript">
  // $(".toast").toast({
  //   autohide: false
  // });
  // $('.toast').toast('show');
</script>
{% endblock %}
{% block layout %}

<!-- navbar -->
<nav class="navbar navbar-expand-xl navbar-light fixed-top" style="background-color: #FFFFFF; box-shadow: none;">

  <!-- logo -->
  <a href="{% url 'home' %}" style="margin: 5px 10px 5px 10px;">
    <img src="{% static "img\roomy_full.png" %}" alt="" style="width: 125px; height: 35px; margin: 0 auto;">
  </a>

  <!-- expand button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>

  <!-- navigation -->
  <div class="navbar-collapse collapse" id="navbarsExample04">

    <!-- links -->
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link" style="color: #141414; font-size: 18px;" href="{% url 'explore' %}">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #141414; font-size: 18px;" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #141414; font-size: 18px;" href="{% url 'faq' %}">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #141414; font-size: 18px;" href="{% url 'partner_with_us' %}">Partner With Us</a>
      </li>
    </ul>
    <!-- end of links -->


    <!-- login -->
    <div class="nav-item d-flex align-items-center">

      {% if user.is_authenticated %}

      <div class="dropdown" style="margin: 0 auto;">
        <a class="d-flex align-items-center" data-offset="50" href="#" id="dropdownMenuLink" data-toggle="dropdown" style="padding: 5px 10px; color: black;">
          <div class="d-flex justify-content-center align-items-center" style="margin-right: 5px auto;">
            <div class="img-profile"
              style="width: 40px; height: 40px; margin: 0 10px 0 0; padding: 0; border-radius: 20px; background-image: url('{% static 'img/elon.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div> <span style="color: #61299F; font-size: 14px; font-weight: bold; text-transform: uppercase;">{{ user.username }}</span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow bg-white" aria-labelledby="dropdownMenuLink" style="width: 200px; margin: 5px 0; padding: 20px; border: none;">
          <a class="nav-link" style="margin: 0 0 20px 0; padding: 0;" href="{% url 'bookings' %}">
            <i class="fas fa-address-book" style="margin-right: 10px; color: #61299F;"></i>
            Bookings
          </a>
          <a class="nav-link" style="margin: 0 0 20px 0; padding: 0;" href="{% url 'profile' %}">
            <i class="fas fa-user-alt" style="margin-right: 10px; color: #61299F;"></i>
            Profile
          </a>
          <a class="nav-link" style="margin: 0 0 20px 0; padding: 0; color: black;" href="{% url 'messages' %}">
            <i class="fas fa-envelope" style="margin-right: 10px; color: #61299F;"></i>
            Messages
          </a>
          <a class="nav-link" style="margin: 0 0 20px 0; padding: 0;" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt" style="margin-right: 10px; color: #61299F;"></i>
            Log Out
          </a>
        </div>
      </div>

      {% else %}

      <a class="bnt-link" href="{% url 'login' %}" style="margin: 0 auto; font-size: 15px; color: #61299F; font-weight: bold;">LOG IN</a>

      {% endif %}
    </div>

  </div>
  <!-- end of navigation -->
</nav>
<!-- end of navbar -->

<!--div style="position: fixed; bottom:0; min-width: 250px; padding: 25px 15px; z-index:99999;">
  <div style="bottom: 0; left: 0;">
    <div class="toast fade show">
      <div class="toast-header">
        <strong class="mr-auto"><i class="fa fa-globe"></i> Hello, world!</strong>
        <small class="text-muted">just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        This is a basic toast message.
      </div>
    </div>

    <div class="toast fade show">
      <div class="toast-header">
        <strong class="mr-auto"><i class="fa fa-globe"></i> Hello, world!</strong>
        <small class="text-muted">5 minutes ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        See? This is another toast message.
      </div>
    </div>
  </div>
</div-->
<div class="content" style="margin-top: 50px;">
  {% block content %}{% endblock content %}
</div>

{% endblock %}

{% block footer %}

<!-- footer -->
<div class="container-fluid d-flex flex-column" style="margin-top: 100px; background-color: #FFFFFF;">
  <div class="d-flex flex-column flex-wrap align-items-stretch" style="min-height: 300px; padding: 20px;">

    <style media="screen">
      @media screen and (max-width: 600px) {
        .wrapper-link {
          flex-direction: column;
        }

        .wrapper-link .link-container {
          margin-bottom: 50px;
        }
      }
    </style>

    <!-- links -->
    <div class="row wrapper-link d-flex flex-wrap justify-content-around">

      <style media="screen">
        .nav-link-footer {
          margin: 0 0 5px 2px;
          padding: 0;
          color: black;
          font-size: 15px;
          border-bottom: 2px solid transparent;
        }
      </style>

      <!-- Company Link-->
      <div class="link-container" style="margin: 10px 30px 10px 30px;">
        <!-- Links -->
        <h5 class="text-uppercase">Roomy</h5>
        <ul class="navbar-nav d-flex flex-column justify-content-start text-left">
          <li class="nav-item">
            <div class="d-flex justify-content-start align-items-center">
              <a class="nav-link nav-link-footer" href="{% url 'about' %}">About</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex justify-content-start align-items-center">
              <a class="nav-link nav-link-footer" href="{% url 'faq' %}">FAQ</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex justify-content-start align-items-center">
              <a class="nav-link nav-link-footer" href="{% url 'contact' %}">Contact Us</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex justify-content-start align-items-center">
              <a class="nav-link nav-link-footer" href="{% url 'terms_of_use' %}">Terms of Use</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex justify-content-start align-items-center">
              <a class="nav-link nav-link-footer" href="{% url 'privacy' %}">Privacy Policy</a>
            </div>
          </li>
        </ul>

      </div>

      <!-- Follow Social Links -->
      <div class="link-container" style="margin: 10px 30px 10px 30px;">
        <!-- links -->
        <h5 class="text-uppercase">FOLLOW</h5>
        <ul class="navbar-nav d-flex flex-column justify-content-start align-items-start text-left">
          <li class="nav-item">
            <div class="d-flex justify-content-start align-items-center">
              <img src="{% static "img\facebook.png" %}" alt="" style="width: 15px; height: 15px; margin: 0 0 5px 2px; padding: 0; ">
              <span>&nbsp</span>
              <a class="nav-link nav-link-footer" href="www.facebook.com">Facebook</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex justify-content-start align-items-center">
              <img src="{% static "img\twitter.png" %}" alt="" style="width: 15px; height: 15px; margin: 0 0 5px 2px; padding: 0; ">
              <span>&nbsp</span>
              <a class="nav-link nav-link-footer" href="www.twitter.com">Twitter</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex justify-content-start align-items-center">
              <img src="{% static "img\instagram.png" %}" alt="" style="width: 15px; height: 15px; margin: 0 0 5px 2px; padding: 0; ">
              <span>&nbsp</span>
              <a class="nav-link nav-link-footer" href="www.instagram.com">Instagram</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex justify-content-start align-items-center">
              <img src="{% static "img\youtube.png" %}" alt="" style="width: 15px; height: 15px; margin: 0 0 5px 2px; padding: 0; ">
              <span>&nbsp</span>
              <a class="nav-link nav-link-footer" href="www.youtube.com">Youtube</a>
            </div>
          </li>
        </ul>
        <!-- end of links -->

      </div>

      <!-- Download Link -->
      <div class="link-container" style="margin: 10px 30px 10px 30px;">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h5 style=" margin-bottom: 10px;">DOWNLOAD OUR APP NOW</h5>
          <a href="play.google.com"><img src="{% static "img\svg_playstore.svg" %}" alt=""></a>
        </div>
      </div>

    </div>
    <!-- end of links -->

  </div>
</div>

<div class="container-fluid" style="background-color: #303030;">
  <!-- copyright -->
  <div class="row d-flex justify-content-center" style="padding: 20px;">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <span style="font-size: 12px; color: white;">&copy; Roomy 2019 - 2020. </span>
      <span style="font-size: 12px; color: white;">All rights reserved. Powered by <span style="color: #61299F; font-size: 15px; font-weight: bold;">PPTT</span> </span>
    </div>
  </div>
  <!-- end of copyright -->
</div>
<!-- end of footer -->
{% endblock %}
