{% extends "index.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static "vendor/pannellum/pannellum.css" %}">
  <style>
    #panorama {
        width: 600px;
        height: 400px;
    }
    </style>
{% endblock %}

{% block layout %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="panorama"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static "vendor/pannellum/pannellum.js" %}"></script>
  <script type="text/javascript">

  viewer = pannellum.viewer('panorama', {
      "type": "equirectangular",
      "panorama": "https://pannellum.org/images/alma.jpg",
      "autoLoad": true,
    });

  </script>
{% endblock %}
