{% extends "index.html" %}

{% block layout %}
<!-- page wrapper -->
<div class="wrapper">

  <!-- sidebar -->
  <div class="sidebar">

    <!-- sidebar brand logo-->
    <div class="text-center">
      <h5>logo</h5>
    </div>
    <!-- end of sidebar logo-->

    <!-- sidebar divider-->
      <div class="">
        &nbsp
      </div>
    <!-- end of   sidebar divider-->

    <!-- sidebar navigation-->
    <div class="sidebar-nav">

      <!-- menu navigation-->
      <div class="nav d-flex flex-column justify-content-center">
        <h6>Menu</h6>
        <div class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </div>

        <div class="nav-item">
          <div class="nav-link transaction" type="dropdown-toggle" name="button" data-toggle="dropdown">Add transaction</div>
          <ul class="dropdown-menu" style="width: auto; background-color: #858585; margin-left:150px;">
            <li>
              <div class="nav-item">
                <a class="nav-link" href="{% url 'add_property' %}">Add property transaction</a>
              </div>
            </li>
            <li>
              <div class="nav-item">
                <a class="nav-link" href="{% url 'add_rental' %}">Add rental transaction</a>
              </div>
            </li>
            <li>
              <div class="nav-item">
                <a class="nav-link" href="{% url 'add_payment' %}">Add payment transaction</a>
              </div>
            </li>
            <li>
              <div class="nav-item">
                <a class="nav-link" href="{% url 'add_expense' %}">Add expense transaction</a>
              </div>
            </li>
          </ul>
        </div>

        <div class="nav-item">
          <a class="nav-link" href="{% url 'rental' %}">Rental</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{% url 'tenant' %}">Tenant</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{% url 'billing' %}">Billing</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{% url 'expense' %}">Expense</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{% url 'cashflow' %}">Cashflow</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{% url 'report' %}">Report</a>
        </div>
      </div>
      <!-- end of menu navigation-->

      <!-- sidebar divider-->
      <div class="">
        &nbsp
      </div>
      <!-- end of   sidebar divider-->

      <!-- settings navigation-->
      <div class="nav d-flex flex-column justify-content-center">
        <h6>Settings</h6>
        <div class="nav-item">
          <a class="nav-link" href="{% url 'property_management' %}">Property Management</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{% url 'room_management' %}">Room Management</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{% url 'admin_management' %}">Admin Management</a>
        </div>
      </div>
      <!-- end of settings navigation-->

    </div>
    <!-- end of sidebar navigation-->

  </div>
  <!-- end of sidebar -->

  <!-- content wrapper -->
  <div class="content-wrapper d-flex flex-column">

    <!-- topbar -->
    <div class="topbar d-flex flex-row justify-content-between">

          <div class="header">
            {% block header %}

            {% endblock %}
          </div>

          <div class="account">
            <div class="account" type="dropdown-toggle" name="button" data-toggle="dropdown">
              username &nbsp<i class="down"></i>
            </div>
            <ul class="dropdown-menu">
              <li class="dropdown-itemc">
                <a href="#">Profile</a>
              </li>
              <li class="dropdown-itemc">
                <a href="#">logout</a>
              </li>
            </ul>
          </div>

    </div>
    <!-- end of topbar -->

    <!-- content -->
    {% block content %}

    {% endblock %}
    <!-- end of content -->

  </div>
  <!-- end of content wrapper -->

</div>
<!-- end of page wrapper-->

{% endblock %}
