{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static "vendor\bootstrap\css\bootstrap.css" %}">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static "css\style.css" %}">

  <title>
    {% block title %}

    {% endblock %}
  </title>

</head>


<body>

  {% block layout %}

  {% endblock %}


  {% block content %}

  {% endblock %}


  {% block footer %}

  {% endblock %}

  <!-- JQuery, Popper and Bootstrap JS -->
  <script src="{% static "vendor\jquery\jquery.js" %}" type="text/javascript"></script>
  <script src="{% static "vendor\bootstrap\js\bootstrap.bundle.js" %}" type="text/javascript"></script>

  <!-- EXTRA JS -->
  {% block extra_js %}{% endblock %}

</body>

</html>
