{% extends "base.html" %}
{% load static %}

{% block layout %}

<!-- navbar -->
<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #CBADDD;">
  <div class="container">

    <!-- logo -->
    <a href="{% url 'explore' %}" style="margin-right: 20px;">
      <img src="{% static "img\logo.png" %}" alt="" style="width:120px; height: 35px;">
    </a>

    <!-- expand button -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navigation -->
    <div class="navbar-collapse collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-item-custom">
          <a class="nav-link" style="color: black;" href="{% url 'explore' %}">Explore</a>
        </li>
        <li class="nav-item nav-item-custom">
          <a class="nav-link" style="color: black;" href="{% url 'how_to_book' %}">How To Book</a>
        </li>
        <li class="nav-item nav-item-custom dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
            About Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width: auto; height: auto; padding: 20px;">
            <a class="nav-link" style="margin: 0 0 5px 2px; padding: 0; color: black;" href="{% url 'about' %}">What is Roomy?</a>
            <a class="nav-link" style="margin: 0 0 5px 2px; padding: 0; color: black;" href="{% url 'contact' %}">Contact Us</a>
            <a class="nav-link" style="margin: 0 0 5px 2px; padding: 0; color: black;" href="{% url 'faq' %}">FAQs</a>
          </div>
        </li>
        <li class="nav-item nav-item-custom">
          <a class="nav-link" style="color: black;" href="{% url 'partner_with_us' %}">Partner With Us</a>
        </li>
      </ul>
      <!-- end of navigation -->

      <style>
        .nav-item-custom {
          padding: 2px 5px 2px 5px;
        }

        .nav-item-custom:hover {
          background-color: #B6A6CA;
          border-radius: 20px;
          padding: 2px 5px 2px 5px;
        }
      </style>

      <!-- search bar-->
      <form class="form-inline my-2 my-md-0" action="" _lpchecked="1">
        <div class="input-group">
          <input class="form-control btn-dark" style="width: 250px; min-width: 250px; background-color: white; color: black;" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-dark" type="button" name="button">
              <img src="{% static "img\search_icon.png" %}" alt="" style="width: 20px; height: 20px;">
            </button>
          </div>
        </div>
      </form>

      <!-- login/signup -->
      <div class="wrapper">
        <button class="btn btn-dark" style="margin-left: 10px;" data-toggle="modal" data-target="#loginModal">Log in</button>
        <button class="btn btn-dark" style="margin-right: 5px; margin-left: 5px;" data-toggle="modal" data-target="#signupModal">Sign up</button>
      </div>

      <style>
        @media screen and (max-width: 1200px) {
          .wrapper {
            margin-top: 10px;
          }
        }

        @media screen and (max-width: 578px) {
          .wrapper {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      </style>

    </div>
</nav>

<!-- login modal -->
<form class="" action="#" method="post">

  <!-- modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">

      <!-- modal content -->
      <div class="modal-content" style="width: 400px; height: auto; margin: 0 auto; border-radius: 15px;">

        <!-- modal header -->
        <div class="modal-header">
          <img src="{% static "img/logo.png" %}" alt="" style="width: 120px; height: 35px; margin: 0 auto;">
        </div>

        <!-- modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-form-label" for="">username</label>
                  <input class="form-control" type="text" name="" value="">
                  <label class="col-form-label" for="">password</label>
                  <input class="form-control" type="password" name="" value=""> <br>
                  <button type="button" class="form-control btn btn-dark">login</button> <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <a href="#" data-toggle="modal" data-target="#forgotPasswordModal" data-dismiss="modal">Forgot password?</a> <br>
              </div>
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <span>Don't have an account yet?</span>
                <a class="" href="#" type="button" name="button" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">Sign up</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</form>
<!-- end of login modal -->

<!-- signup modal -->
<form class="" action="#" method="post">

  <!-- modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

    <div class="modal-dialog" role="document">

      <!-- modal content -->
      <div class="modal-content" style="width: 400px; height: auto; margin: 0 auto; border-radius: 15px;">

        <!-- modal header -->
        <div class="modal-header">
          <img src="{% static "img\logo.png" %}" alt="" style="width: 120px; height: 35px; margin: 0 auto;">
        </div>

        <!-- modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-form-label" for="">Full Name</label>
                  <input class="form-control" type="text" name="" value="">
                  <label class="col-form-label" for="">Mobile</label>
                  <input class="form-control" type="text" name="" value="">
                  <label class="col-form-label" for="">Email</label>
                  <input class="form-control" type="email" name="" value="">
                  <label class="col-form-label" for="">Password</label>
                  <input class="form-control" type="password" name="" value=""> <br>
                  <button type="button" class="form-control btn btn-dark">Sign Up</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <span class="text-center" style="font-size: 12px;">By signing up, you agree to our <a href="{% url 'terms_of_use' %}" target="_blank">Terms of Use</a> and <a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a>.</span>
              </div>
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <span>Already have an account?</span>
                <a href="#" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Log in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- end of signup modal -->

<!-- forgot password modal -->
<form class="" action="#" method="post">

  <!-- modal -->
  <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">

      <!-- modal content -->
      <div class="modal-content" style="width: 400px; height: auto; margin: 0 auto; border-radius: 15px;">

        <!-- modal header -->
        <div class="modal-header">
          <img src="{% static "img/logo.png" %}" alt="" style="width: 120px; height: 35px; margin: 0 auto;">
        </div>

        <!-- modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-form-label" for="">Email</label>
                  <input class="form-control" type="email" name="" value=""> <br>
                  <button type="button" class="form-control btn btn-dark">Reset Password</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <span>Back to </span>
                <a class="" href="#" type="button" name="button" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">log in</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</form>
<!-- end of forgot password modal -->

<!-- end of navbar -->

{% endblock %}

{% block footer %}

<!-- footer -->
<div class="footer" style="width: 100%; background-color: #CBADDD; color: white; text-align: center;}">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-2" style="padding: 20px;">
          <ul class="navbar-nav d-flex flex-column justify-content-start text-left">
            <li class="">
              <h6 style="color: black;">COMPANY</h6>
            </li>
            <li class="nav-item">
              <div class="d-flex justify-content-start align-items-center">
                <a class="nav-link nav-link-custom2" style="margin: 0 0 0 2px; padding: 0; color: black;" href="{% url 'about' %}">About</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="d-flex justify-content-start align-items-center">
                <a class="nav-link nav-link-custom2" style="margin: 0 0 0 2px; padding: 0; color: black;" href="{% url 'faq' %}">FAQs</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="d-flex justify-content-start align-items-center">
                <a class="nav-link nav-link-custom2" style="margin: 0 0 0 2px; padding: 0; color: black;" href="{% url 'contact' %}">Contact Us</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="d-flex justify-content-start align-items-center">
                <a class="nav-link nav-link-custom2" style="margin: 0 0 0 2px; padding: 0; color: black;" href="{% url 'terms_of_use' %}">Terms of use</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="d-flex justify-content-start align-items-center">
                <a class="nav-link nav-link-custom2" style="margin: 0 0 0 2px; padding: 0; color: black;" href="{% url 'privacy' %}">Privacy</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="d-flex justify-content-start align-items-center">
                <a class="nav-link nav-link-custom2" style="margin: 0 0 0 2px; padding: 0; color: black;" href="{% url 'help_center' %}">Help Center</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2" style="padding: 20px;">
          <ul class="navbar-nav d-flex flex-column justify-content-start text-left">
            <li class="">
              <h6 style="color: black;">FOLLOW</h6>
            </li>
            <li class="nav-item">
              <div class="d-flex justify-content-start align-items-center">
                <img src="{% static "img\facebook.png" %}" alt="" style="width: 15px; height: 15px;">
                <span>&nbsp</span>
                <a class="nav-link nav-link-custom2" style="margin: 0 0 0 2px; padding: 0; color: black;" href="#">Facebook</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="d-flex justify-content-start align-items-center">
                <img src="{% static "img\twitter.png" %}" alt="" style="width: 15px; height: 15px;">
                <span>&nbsp</span>
                <a class="nav-link nav-link-custom2" style="margin: 0 0 0 2px; padding: 0; color: black;" href="#">Twitter</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="d-flex justify-content-start align-items-center">
                <img src="{% static "img\instagram.png" %}" alt="" style="width: 15px; height: 15px;">
                <span>&nbsp</span>
                <a class="nav-link nav-link-custom2" style="margin: 0 0 0 2px; padding: 0; color: black;" href="#">Instagram</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="d-flex justify-content-start align-items-center">
                <img src="{% static "img\youtube.png" %}" alt="" style="width: 15px; height: 15px;">
                <span>&nbsp</span>
                <a class="nav-link nav-link-custom2" style="margin: 0 0 0 2px; padding: 0; color: black;" href="#">Youtube</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4" style="padding: 20px;">
          <h5 style="color: black; margin-bottom: 10px;">DOWNLOAD OUR APP NOW</h5>
          <img src="{% static "img\svg_playstore.svg" %}" alt="">
        </div>

        <style>
          .nav-link-custom2:hover {
            border-bottom: 2px solid black;
          }
        </style>

      </div>
    </div>
  </div>
</div>
<!-- end of footer -->

{% endblock %}
