{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
User Profile
{% endblock %}

{% block extra_css %}
<!-- SELECT2 -->
<link rel="stylesheet" href="{% static 'vendor/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
{% include "_modal.html" %}
<div class="card-body card-body-cascade text-center">

    <!-- Edit Form -->
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <input type="text" name="{{form1.username.id_for_label}}" id="{{form1.username.id_for_label}}"
                        class="form-control validate" value="{{form1.username.value}}" required>
                    <label for="{{form1.username.id_for_label}}" data-error="wrong"
                        data-success="right">{{form1.username.label}}</label>
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <input type="text" name="{{form1.first_name.id_for_label}}" id="{{form1.first_name.id_for_label}}"
                        class="form-control validate" {%if form1.first_name.value %}value="{{form1.first_name.value}}"
                        {%else%}placeholder="Juan" {%endif%} required>
                    <label for="{{form1.first_name.id_for_label}}" data-error="wrong"
                        data-success="right">{{form1.first_name.label}}</label>
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <input type="text" name="{{form1.last_name.id_for_label}}" id="{{form1.last_name.id_for_label}}"
                        class="form-control validate" {%if form1.last_name.value%}value="{{form1.last_name.value}}"
                        {%else%} placeholder="dela Cruz" {%endif%} required>
                    <label for="{{form1.last_name.id_for_label}}" data-error="wrong"
                        data-success="right">{{form1.last_name.label}}</label>
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <input type="text" name="{{form1.email.id_for_label}}" id="{{form1.email.id_for_label}}"
                        class="form-control validate" {%if form1.email.value%}value="{{form1.email.value}}"
                        {%else%}placeholder="juandelacruz@gmail.com" {%endif%} required>
                    <label for="{{form1.email.id_for_label}}" data-error="wrong"
                        data-success="right">{{form1.email.label}}</label>
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <input type="tel" name="{{form2.cell_number.id_for_label}}" id="{{form2.cell_number.id_for_label}}"
                        class="form-control validate" pattern="09[0-9]{9}"
                        {% if form2.cell_number.value %}value="0{{form2.cell_number.value}}"
                        {%else%}placeholder="09xxxxxxxxx" {% endif %}required>
                    <label for="{{form2.cell_number.id_for_label}}" data-error="wrong"
                        data-success="right">{{form2.cell_number.label}}</label>
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <input type="text" name="{{form2.provincial_address.id_for_label}}"
                        id="{{form2.provincial_address.id_for_label}}" class="form-control validate"
                        {% if form2.provincial_address.value %}value="{{form2.provincial_address.value}}"
                        {%endif%}required>
                    <label for="{{form2.provincial_address.id_for_label}}" data-error="wrong"
                        data-success="right">{{form2.provincial_address.label}}</label>
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <div class="col-md-1">Birthday</div>
                    <input type="date" name="{{form2.birthday.id_for_label}}" id="{{form2.birthday.id_for_label}}"
                        class="form-control validate"
                        {%if form2.birthday.value %}value="{{form2.birthday.value|date:'Y-m-d'}}" {%else%}
                        placeholder="YYYY-MM-DD" {%endif%} required>
                    <label for="{{form2.birthday.id_for_label}}" data-error="wrong" data-success="right"></label>
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 text-center my-4">
                <span class="waves-input-wrapper waves-effect waves-light"><input type="submit" value="Update Account"
                        class="btn btn-info btn-rounded"></span>
            </div>
        </div>
    </form>
    <!-- Edit Form -->

</div>
{% endblock %}

{% block header %}
User Profile
{% endblock %}

{% block extra_js %}
<script></script>
{% endblock %}