{% extends "layout.html" %}
{% load static %}

{% block title %}
Contact
{% endblock %}

{% block content %}

<!-- content -->
<div class="container-fluid">
  <div class="container">
    <div class="row d-flex flex-row jusfity-content-center align-items-center" style="padding: 60px 30px 60px 30px; height: auto;">
      <div class="wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="text-center">
          <h3 class="text-center">OUR TEAM</h3>
        </div>
        <img src="{% static "img\team.jpg" %}" alt="" style="width:100%; margin: 0; padding: 0;">
      </div>
      <div class="wrapper">
        &nbsp
      </div>
      <div class="wrapper d-flex flex-column justify-content-center align-items-center" style="padding: 30px;">
        <h3 class="text-center">We'd love to hear from you.</h3>
        <h6 class="text-center">Need to get in touch with our team? We're all ears.</h6>
        <div class="wrapper d-flex flex-row justify-content-center">
          <button class="btn btn-dark" style="width: 200px;" type="button" name="button" data-toggle="modal" data-target="#contactUsModal">Contact Us</button>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="d-flex flex-column justify-content-center">
        <h4 class="text-center">Get help on social media</h4>
        <span class="text-center">Contact us via</span>
        <div class="d-flex justify-content-center align-items-center" style="margin-top: 10px; margin-bottom: 150px;">
          <a href="#facebook">
            <img src="{% static "img\facebook.png" %}" style="width: 30px; height: 30px;" alt="">
          </a>
          <div class="">
            &nbsp
          </div>
          <a href="#twitter">
            <img src="{% static "img\twitter.png" %}" style="width: 30px; height: 30px;" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- contact us modal -->
  <form class="" action="#" method="post">

    <!-- modal -->
    <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">

        <!-- modal content -->
        <div class="modal-content" style="margin: 0 auto; border-radius: 15px;">

          <!-- modal header -->
          <div class="modal-header text-center">
            <h4 class="text-center">Contact Us</h4>
          </div>

          <!-- modal body -->
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="col-form-label" for="">Name</label>
                    <input class="form-control" type="text" name="" value="">
                    <label class="col-form-label" for="">Email</label>
                    <input class="form-control" type="email" name="" value="">
                    <label class="col-form-label" for="">Mobile</label>
                    <input class="form-control" type="text" name="" value="">
                    <label class="col-form-label" for="">Message</label>
                    <textarea class="form-control" name="name" rows="4" cols="50"></textarea> <br>
                    <button class="btn btn-dark" style="margin: 0 auto;" type="button" name="button">Submit</button> <br>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </form>
  <!-- end of login modal -->

  <!-- end of content -->

</div>

{% endblock %}
