{% extends "layout.html" %}
{% load static %}

{% block title %}
Admin Accounts
{% endblock %}

{% block extra_css %}
<!-- SELECT2 -->
<link rel="stylesheet" href="{% static 'vendor/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
{% include "_modal.html" %}
<div class="content container">
  <div class="card-content">
    <div class="container-fluid">
      <h2>Admin Accounts</h2>
      <div class="row p-3">
        <div class="col">
          <div class="table-responsive">
            <table id="admin-acc-table" class="table table-bordered table-hover" width="100%" cellspacing="0"
              role="grid" aria-describedby="dataTable_info">
              <thead>
                <tr role="row">
                  <th style="width:10%">Id</th>
                  <th style="width:10%">Type</th>
                  <th style="width:10%">Name</th>
                  <th style="width:10%">Property</th>
                  <th style="width:10%">Actions</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block header %}
Admin Accounts
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#admin-acc-table').DataTable({
      "dataType": 'json',
      "ajax": {
        "processing": true,
        "dataSrc": '',
        "url": "{% url 'admin-acc-table'%}",
      },
      "drawCallback": function (settings) {
        $(".read-admin-acc").each(function () {
          $(this).modalForm({ formURL: $(this).data('id') });
        });
        $(".delete-admin-acc").each(function () {
          $(this).modalForm({ formURL: $(this).data('id') });
        });
        $(".update-admin-acc").each(function () {
          $(this).modalForm({ formURL: $(this).data('id') });
        });
      },
      "columnDefs": [
        {
          "className": 'col-admin-id text-center',
          "targets": 0,
          "data": "fields.id",
        },
        {
          "className": 'col-admin-type text-center',
          "targets": 1,
          "data": "fields.type",
        },
        {
          "className": 'col-admin-name text-center',
          "targets": 2,
          "data": "fields.name",
        },
        {
          "className": 'col-admin-property text-center',
          "targets": 3,
          "data": "fields.property",
        },
        {
          "className": 'col-details text-center',
          "targets": -1,
          "data": 'fields.id',
          render: function (data, type, row) {
            let render =
              '<button type="button" class="read-admin-acc btn btn-raised btn-sm btn-primary m-1" data-id="/read/admin_acc/' + data + '">' +
              '<span class="fa fa-eye"></span></button>' +
              '<button type="button" class="delete-admin-acc btn btn-sm btn-raised btn-warning m-1" data-id="/delete/admin_acc/' + data + '">' +
              '<span class="fa fa-trash"></span></button>' +
              '<button type="button" class="update-admin-acc btn btn-sm btn-raised btn-success m-1" data-id="/update/admin_acc/' + data + '">' +
              '<span class="fa fa-edit"></span></button>';
            return render
          }
        },
      ]
    })
  });
</script>
{% endblock %}