{% extends "components/account/base.html" %}
{% load static %}
{% load numbers %}
{% block extra_css %}
  {{ block.super}}
  <style media="screen">
    .card {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.10), 0 2px 10px 0 rgba(0,0,0,0.12);
      top: 0;
      transition: 0.3s;
      margin-bottom: 1rem;
    }
    .card:hover{
      -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25), 0 2px 10px 0 rgba(0,0,0,0.12);
      top: -10px;
    }

  </style>

{% endblock %}

{% block account_container %}
  <div class="container-fluid p-2">
    {% if bookings %}
      {% for book in bookings %}
        <div class="card">
          {% if book.status == 1 %}<a href="{% url 'booking-view' book.id %}" class="bookings" style="text-decoration:none; color: black">
          {% else %}<a href="" class="bookings" style="text-decoration:none; color: black">
          {% endif %}
            <div class="row no-gutters">
              <div class="col-7" id="bookcard-{{book.pk}}">
                <div class="img">
                </div>
              </div>
              <div class="col-5 card-body px-4">
                <h4 class="card-title">{{ book.catalog_id.property_id.name}}</h4>
                <h5>{{ book.catalog_id.name}}</h5>
                {% if book.catalog_id.floor > 0 %}<p>{{ book.catalog_id.floor|num_to_ordinal}} floor</p>{% endif %}
                <h5>{% if book.status == 0 %}<span class="badge badge-warning">{{ book.get_status_display}}</span>
                {% elif book.status == 1 %}<span class="badge badge-success">{{ book.get_status_display}}</span>
                {% elif book.status == 2 %}<span class="badge badge-danger">{{ book.get_status_display}}</span>
                {% endif %}</h5>

              </div>
            </div>
          </a>
        </div>
        <style media="screen">
          #bookcard-{{book.pk}} .img{
                 background-image:url({% if book.catalog_id.img_2d.all %}/media/{{ book.catalog_id.img_2d.all.0 }}{% else %}{% static "img\placeholder_900x500.png" %}{% endif %});
                 background-position: center center;
                 background-size: cover;
                 background-repeat: no-repeat;
                 width:100%;
                 height:100%;}
        </style>
      {% endfor %}
    {% else %}
    <div class="row">
      <div class="col text-center py-5">
        <h2>Bookings</h2>
        <p>You have no bookings yet</p>
        <img src="{% static "img/undraw_searching_p5ux.png" %}" alt="" class="mx-auto" style="width:20vw;display:block">
        <button type="button" class="btn btn-primary" name="button">Find Places</button>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
