{% extends "components/account/base.html" %}
{% load static %}


{% block account_container %}
  <div class="container-fluid p-2">
    {% if bookings %}
      {% for book in bookings %}
      <a href="{% url 'booking-view' book.id %}" style="text-decoration:none">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-3" id="bookcard-{{book.pk}}">
              <div class="img">

              </div>
            </div>
            <div class="col-9 card-body px-4">
              <h4 class="card-title">{{ book.catalog_id.property_id}}</h4><vr>
              <p>Floor: {{ book.catalog_id.floor}}</p>
              <span class="label label-default">Status</span>
            </div>
          </div>
        </div>
        <style media="screen">
          #bookcard-{{book.pk}} .img{
                 background-image:url({% if book.catalog_id.img_2d.all %}/media/{{ book.catalog_id.img_2d.all.0 }}{% else %}{% static "img\placeholder_900x500.png" %}{% endif %});
                 background-position: center center;
                 background-size: cover;
                 background-repeat: no-repeat;
                 width:100%;
                 height:100%;}
        </style>
      </a>
      {% endfor %}
    {% else %}
    <div class="row">
      <div class="col text-center py-5">
        <h2>Bookings</h2>
        <p>You have no bookings yet</p>
        <img src="{% static "img/undraw_searching_p5ux.png" %}" alt="" class="mx-auto" style="width:20vw;display:block">
        <button type="button" class="btn btn-primary" name="button">Find Places</button>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
