{% extends "components/account/base.html" %}
{% load static %}


{% block account_container %}
  <style media="screen">
      #main .row{
        margin-bottom: 1rem;
      }
  </style>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'bookings' %}">Bookings</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ tenant_account.tenant_id.transaction_id.room_id}}</li>
    </ol>
  </nav>
  <div id="main" class="container-fluid p-2">
    <div class="row card">
      <a href="#collapseInfo" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseDetail">
        <h6 class="m-0 font-weight-bold text-dark">Booking Info</h6>
      </a>

      <div id="collapseInfo" class="col card-body">
        <div class="">
          
        </div>
      </div>
    </div>

    <div class="row card">
      <a href="#collapseRoomies" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseDetail">
        <h6 class="m-0 font-weight-bold text-dark">My Roomies</h6>
      </a>
      <div id="collapseRoomies" class="col card-body collapse">
        <div class="">
          <p>{{ tenant_account.tenant_id}}</p>
        </div>
      </div>
    </div>

    <div class="row card">
      <a href="#collapseRequest" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseDetail">
        <h6 class="m-0 font-weight-bold text-dark">My Requests</h6>
      </a>
      <div id="collapseRequest" class="col card-body">
        <div class="">
          <p>{{ tenant_account.tenant_id}}</p>
          <button class="btn btn-success" type="button" name="button">Request</button>
        </div>
      </div>
    </div>
    <div class="row card">
      <a href="#collapseBilling" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseDetail">
        <h6 class="m-0 font-weight-bold text-dark">My Billing</h6>
      </a>
      <div id="collapseBilling" class="col card-body">
        <div class="">
          <p>{{ tenant_account.tenant_id}}</p>
          <button class="btn btn-success" type="button" name="button">Request</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
