{% extends "layout/layout.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <div class="row d-flex flex-row justify-content-center" style="margin-top: 50px; margin-bottom: 20px;">
    </div>
  </div>
</div>
<!-- end of main content -->


{% endblock %}

<!-- picture modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <!-- modal content -->
    <div class="modal-content" style="margin: 0 auto; border-radius: 15px;">
      <!-- modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row d-flex justify-content-center" style="padding-right: 10px; padding-left: 10px;">
            <img class="img-fluid" src="{% static "img\placeholder_900x500.png" %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of picture modal -->
