{% extends "layout/layout_2.html" %}
{% load static %}

{% block title %}
Property
{% endblock %}

{% block content %}


<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-center align-items-center" style="margin-bottom: 50px;">

      <!-- room container -->
      <div class="wrapper-room" style="width: 350px; margin: 10px; padding: 20px; border-radius: 5px;">
        <a href="{% url 'room' %}">
          <div class="img-contaniner" style="width: 300px; height: 200px; margin: 0 auto 5px auto; border-radius: 10px; background-image: url('/static/img/placeholder_900x500.png'); background-repeat: no-repeat; background-size: cover; background-position: center; background-color: red;"></div>
        </a>
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 5px;">
          <div class="">
            <span style="padding: 5px 15px 5px 15px; border: none; border-radius: 10px; font-size: 10px; background-color: black; color: white;">Apartment</span>
            <span style="margin-left: 10px; font-size: 14px; font-weight: bold;">MANILA</span>
          </div>
          <span style="font-size: 15px;"><i class="fas fa-star"></i> 4.9 <span style="color: grey;">(1 review)</span></span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span style="font-size: 20px;">Room B20</span>
          <span style="font-size: 15px;"><b>Php 4000</b>/month</span>
        </div>
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 5px;">
          <span style="font-size: 15px; font-style: italic;">by Pureza Mansion</span>
        </div><hr>
        <div class="d-flex justify-content-start" >
          <span style="font-size: 16px;">In feugiat diam quam, id mollis nibh elementum vel. Otiam quis volutpat massa.</span>
        </div>
      </div>
      <!-- end of room container -->

      <!-- room container -->
      <div class="wrapper-room" style="width: 350px; margin: 10px; padding: 20px; border-radius: 5px;">
        <a href="{% url 'room' %}">
          <div class="img-contaniner" style="width: 300px; height: 200px; margin: 0 auto 5px auto; border-radius: 10px; background-image: url('/static/img/placeholder_900x500.png'); background-repeat: no-repeat; background-size: cover; background-position: center; background-color: red;"></div>
        </a>
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 5px;">
          <div class="">
            <span style="padding: 5px 15px 5px 15px; border: none; border-radius: 10px; font-size: 10px; background-color: black; color: white;">Apartment</span>
            <span style="margin-left: 10px; font-size: 14px; font-weight: bold;">MANILA</span>
          </div>
          <span style="font-size: 15px;"><i class="fas fa-star"></i> 4.9 <span style="color: grey;">(1 review)</span></span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span style="font-size: 20px;">Room B20</span>
          <span style="font-size: 15px;"><b>Php 4000</b>/month</span>
        </div>
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 5px;">
          <span style="font-size: 15px; font-style: italic;">by Pureza Mansion</span>
        </div><hr>
        <div class="d-flex justify-content-start" >
          <span style="font-size: 16px;">In feugiat diam quam, id mollis nibh elementum vel. Otiam quis volutpat massa.</span>
        </div>
      </div>
      <!-- end of room container -->

      <!-- room container -->
      <div class="wrapper-room" style="width: 350px; margin: 10px; padding: 20px; border-radius: 5px;">
        <a href="{% url 'room' %}">
          <div class="img-contaniner" style="width: 300px; height: 200px; margin: 0 auto 5px auto; border-radius: 10px; background-image: url('/static/img/placeholder_900x500.png'); background-repeat: no-repeat; background-size: cover; background-position: center; background-color: red;"></div>
        </a>
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 5px;">
          <div class="">
            <span style="padding: 5px 15px 5px 15px; border: none; border-radius: 10px; font-size: 10px; background-color: black; color: white;">Apartment</span>
            <span style="margin-left: 10px; font-size: 14px; font-weight: bold;">MANILA</span>
          </div>
          <span style="font-size: 15px;"><i class="fas fa-star"></i> 4.9 <span style="color: grey;">(1 review)</span></span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span style="font-size: 20px;">Room B20</span>
          <span style="font-size: 15px;"><b>Php 4000</b>/month</span>
        </div>
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 5px;">
          <span style="font-size: 15px; font-style: italic;">by Pureza Mansion</span>
        </div><hr>
        <div class="d-flex justify-content-start" >
          <span style="font-size: 16px;">In feugiat diam quam, id mollis nibh elementum vel. Otiam quis volutpat massa.</span>
        </div>
      </div>
      <!-- end of room container -->



    </div>
  </div>
</div>
<!-- end of main content -->

{% endblock %}
