{% extends "layout/layout_2.html" %}
{% load static %}

{% block title %}
Rates
{% endblock %}

{% block content %}

<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <div class="row" style="margin-bottom: 50px;">
      <div class="col-md-1"></div>
      <div class="col-md-9 bg-light rounded">
        <div class="" style="padding: 20px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum tincidunt tincidunt. Aenean quis elit eu nisl convallis egestas. Sed id sagittis elit. Vestibulum velit risus, dapibus vitae molestie id, tincidunt ut mi. Nunc pulvinar
          lorem non nunc blandit, molestie consequat eros pharetra. Nullam vitae vehicula elit. Vivamus porttitor, mi eget accumsan sagittis, lorem eros mattis risus, ac tristique metus velit nec augue. Integer porta pharetra tortor vitae dignissim.
          Aenean semper orci eget dolor hendrerit, eu feugiat lectus semper. Vestibulum egestas ligula interdum, ultrices neque volutpat, viverra purus. Sed ultricies gravida diam, a sagittis leo condimentum ac. Nulla in aliquam tellus. Nulla
          vulputate efficitur odio non pulvinar.

          Morbi convallis consectetur dui, vitae pellentesque nisi volutpat a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis blandit neque enim, eu ultrices nibh pharetra eu. Morbi malesuada luctus
          porta. Sed turpis diam, accumsan eget ornare a, lacinia ut ligula. Sed malesuada, nibh vel luctus tincidunt, turpis leo lacinia sem, at cursus ligula elit a nulla. Vestibulum tincidunt tellus ac quam iaculis, interdum finibus nunc viverra.
          Sed mollis ullamcorper lorem, et auctor quam pretium eget. In tempor eros quis condimentum varius. Sed ut sollicitudin dui. Donec porttitor nulla at accumsan condimentum.

          Mauris volutpat in nisl sit amet convallis. Nullam placerat mauris sed sodales feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Mauris sed venenatis nisi. Proin laoreet metus ac rutrum sagittis. Cras aliquet, purus et faucibus volutpat, mi sem lobortis mauris, nec ornare elit urna sit amet mi. Ut mollis quis felis sed molestie. Sed orci mauris, luctus id ornare ut,
          dapibus nec nisi. Aenean gravida sem ligula, quis iaculis dolor gravida dapibus. Fusce finibus nisl leo, at egestas risus rutrum tincidunt.

          In congue, velit non blandit molestie, libero leo pellentesque est, id dignissim lectus lorem vel libero. Maecenas ullamcorper vel nulla sed malesuada. Fusce tempus lorem felis, in iaculis nisl sodales a. Interdum et malesuada fames ac ante
          ipsum primis in faucibus. Morbi est nisl, consequat at volutpat eu, aliquet vitae nulla. Fusce tempus mauris et ligula vulputate, vitae porta magna ornare. Proin vestibulum, erat vel fermentum viverra, diam tortor interdum justo, lobortis
          accumsan lorem elit sed purus. Proin non nunc tortor. Donec in iaculis arcu. Sed a metus dolor. Quisque ultricies, ex vel facilisis gravida, justo ipsum euismod velit, et vulputate nunc magna non augue. Vivamus molestie justo id dolor
          pretium, vel sollicitudin tellus tincidunt. Quisque dictum diam in nibh fermentum dignissim. Proin euismod nulla in mauris mattis, ac tristique nibh consectetur.
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<!-- end of main content -->

{% endblock %}
