{% extends "layout/layout_2.html" %}
{% load static %}

{% block title %}
Rates
{% endblock %}

{% block content %}

<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <div class="row" style="margin-bottom: 50px;">
      <div class="col-md-1"></div>
      <div class="col-md-9 bg-light rounded">
        <div class="" style="padding: 20px;">
          <h4>What's included?</h4>
          <p>
            Your rent includes everything you'll need. The bed itself, lockers, drawers, curtains for privacy, access to the toilets and washrooms, water, and electricty.
          </p>

          <p>Air-conditioned rooms also come with Wifi access.</p>

          <h4>Add-ons</h4>

          <p>For an additional fee, you can also avail of add-ons such as extra storage, and a motorcycle parking slot.</p>

          <p>* Rates may vary per site, and a 20% additional fee is charged for bookings that are shorter than 5 months.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<!-- end of main content -->
{% endblock %}
