{% extends "layout/layout_2.html" %}
{% load static %}

{% block title %}
Rooms
{% endblock %}

{% block content %}


<!-- main content -->
<div class="container-fluid">
  <div class="container">
    
    <!-- content -->
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- listings -->
        <div class="d-flex flex-wrap justify-content-center" style="margin: 0 auto;">

          <!-- main property container -->
          <div class="" style="width: 100%; margin: 10px 0 50px 0;">
            <div class="img-container">
              <div class="wrapper d-flex justify-content-center">
                <img class="img-fluid" src="{% static "img\placeholder_900x500.png" %}" alt="">
              </div>
              <div class="btn-over d-flex">
                <button class="btn btn-sm btn-dark" type="" name="button">View</button>
                <style>
                  .img-container {
                    position: relative;
                  }

                  .btn-over {
                    position: absolute;
                    top: 88%;
                    left: 90%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                  }
                </style>
              </div>
            </div>
            <div class="d-flex flex-row justify-content-between">
              <div class="wrapper" style="width: 100%;">
                <div class="text-wrapper" style="padding: 15px 0 10px 0;">
                  <h5 style="padding-bottom: 15px; border-bottom: 1px solid lightgrey;">Lorem Ipsum</h5>
                  <h6 style="margin-bottom: 12px;">Nunc pellentesque hendrerit vestibulum</h6>
                  <p class="bg-light" style="width: 100%; padding: 10px 10px 30px 10px; border-radius: 5px;">
                    Quisque ac nisi suscipit, ultricies sapien non, condimentum mauris. Ut justo risus, elementum et semper eget, tempus sed urna. Vivamus in pharetra ex, quis porttitor eros.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of main property container -->

          <!-- main property container -->
          <div class="" style="width: 100%; margin: 10px 0 50px 0;">
            <div class="img-container">
              <div class="wrapper d-flex justify-content-center">
                <img class="img-fluid" src="{% static "img\placeholder_300x300.png" %}" alt="">
              </div>
              <div class="btn-over d-flex">
                <button class="btn btn-sm btn-dark" type="" name="button">View</button>
                <style>
                  .img-container {
                    position: relative;
                  }

                  .btn-over {
                    position: absolute;
                    top: 88%;
                    left: 90%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                  }
                </style>
              </div>
            </div>
            <div class="d-flex flex-row justify-content-between">
              <div class="wrapper" style="width: 100%;">
                <div class="text-wrapper" style="padding: 15px 0 10px 0;">
                  <h5 style="padding-bottom: 15px; border-bottom: 1px solid lightgrey;">Lorem Ipsum</h5>
                  <h6 style="margin-bottom: 12px;">Nunc pellentesque hendrerit vestibulum</h6>
                  <p class="bg-light" style="width: 100%; padding: 10px 10px 30px 10px; border-radius: 5px;">
                    Quisque ac nisi suscipit, ultricies sapien non, condimentum mauris. Ut justo risus, elementum et semper eget, tempus sed urna. Vivamus in pharetra ex, quis porttitor eros.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of main property container -->

        </div>
        <!-- end of listings -->
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- end of content -->

  </div>
</div>
<!-- end of main content -->

{% endblock %}
