{% extends "layout/layout_2.html" %}
{% load static %}

{% block title %}
Room
{% endblock %}

{% block content %}


<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="margin-bottom: 50px;">

      <div class="wrapper" style="width: 400px; padding: 20px; border: 2px solid lightgrey;">
        <span style="float: right;"><b>Php 4000</b>/month</span>
        <h4>Room B20</h4>
        <h5>Pureza Mansion</h5>
        <h6>#455 San Jose II Street Barangay 425 - Sampaloc Manila, Metro Manila</h6>
        <p style="height: 300px; padding: 10px; background-color: red;">
          jksdljfklsjdfklsdjf
        </p>
      </div>

      <!-- room container -->
      <div class="container-room" style="width: 350px; height: auto; margin: 10px; padding: 0;">
        <div class="wrapper-description">

        </div>
      </div>
      <!-- end of room container -->\

    </div>
  </div>
</div>
<!-- end of main content -->

<style media="screen">
  .column {
    flex-grow: 1;
  }
</style>


{% endblock %}
