{% extends "components/account/base.html" %}
{% load static %}


{% block account_container %}
  <div class="container-fluid p-2">
    {% if bookings %}
    {% for book in bookings %}
    <div class="row card">
      <div class="card-body">
        <h4 class="card-title">{{ book.transaction_id.room_id.property_id.name}}</h4><vr>
            {{ book.transaction_id }}
          {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col text-center py-5">
        <h2>Bookings</h2>
        <p>You have no bookings yet</p>
        <img src="{% static "img/undraw_searching_p5ux.png" %}" alt="" class="mx-auto" style="width:20vw;display:block">
        <button type="button" class="btn btn-primary" name="button">Find Places</button>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
