{% extends "mobile-native/layout/layout.html" %}
{% load static %}

{% block title %}
  About Us
{% endblock %}

{% block content %}

<!-- main content -->
<div class="container-fluid" style="margin-bottom: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-9 bg-white" style="padding: 20px;">
        <h3>About<span style="color: #61299F;"> Us</span></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et vulputate orci. Nunc vitae egestas ipsum, vehicula tempus felis. Sed sagittis consequat diam vitae vehicula. Donec eu lorem quis augue mattis accumsan. Donec finibus ipsum in turpis lobortis, eget mollis diam consequat. Sed volutpat arcu vel neque dignissim lacinia. Sed placerat, tellus nec placerat consectetur, quam felis lobortis nulla, efficitur elementum purus lorem in arcu. Proin vitae tincidunt libero. Proin at sagittis diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris ipsum purus, sodales id lectus vitae, pellentesque facilisis tortor. Integer aliquam risus a consequat aliquam. Mauris rutrum malesuada tellus, eu posuere arcu eleifend id. Nulla facilisi. Maecenas volutpat, leo id scelerisque elementum, odio augue rhoncus lectus, sit amet mattis tortor mauris at orci.
        </p>
        <p>
          Sed aliquam semper scelerisque. Ut tempus augue a elementum sollicitudin. In odio magna, feugiat ut urna sed, porta condimentum felis. Cras non sapien semper, viverra sapien vitae, porttitor mauris. Nullam vitae orci lacus. Nullam condimentum tellus augue, quis pulvinar quam venenatis non. Cras pellentesque aliquet bibendum. Quisque sed est vitae quam viverra fermentum nec sit amet orci. Maecenas leo ligula, gravida at ex nec, rutrum ullamcorper mauris. Maecenas ut diam rutrum, luctus leo ac, venenatis ipsum. Sed egestas, augue vitae semper efficitur, neque ligula ultrices enim, eget volutpat ex urna sit amet dolor.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- end of main content -->

<div class="container-fluid">
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-9 bg-white" style="padding: 20px">
      <div class="row d-flex flex-wrap justify-content-center align-items-start">
        <div class="text-center" style="width: 100%; margin: 10px 10px 20px 10px;">
          <span style="font-size: 35px; font-weight: bold;">Team <span style="color: #61299F;">PPTT</span></span>
        </div>
        <div class="d-flex flex-column justify-content-center">

          <div class="" style="width: 180px; height: 180px; margin: 10px; background-image: url('{% static 'img/pascual.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          </div>
          <div class="" style="width: 180px; margin: 0 10px;">
            <div class="d-flex flex-column justify-content-center align-items-center" style="margin: 0 auto;">
              <span style="margin-bottom: 5px; color: #61299F; font-size: 12px; font-weight: bold;">Lead Developer</span>
              <span style="font-size: 14px; font-weight: bold; text-transform: uppercase;">Joshua Pascual</span>
            </div>
            <div class="" style="padding: 5px 0;">
              <span style="font-size: 12px;">
                A 5th year Computer Engineering student from the Polytechnic University of the Philippines – College of Engineering. Always curious and seeking for new knowledge. He dedicated his life to learning new technologies to enable his community. He also likes playing Tekken and eating spicy.
              </span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <div class="" style="width: 180px; height: 180px; margin: 10px; background-image: url('{% static 'img/panganiban.JPG' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          </div>
          <div class="" style="width: 180px; margin: 0 10px;">
            <div class="d-flex flex-column justify-content-center align-items-center" style="margin: 0 auto; padding: 0 10px;">
              <span style="margin-bottom: 5px; color: #61299F; font-size: 12px; font-weight: bold;">Back-End Web Developer</span>
              <span style="font-size: 14px; font-weight: bold; text-transform: uppercase;">Alvin Panganiban</span>
            </div>
            <div class="" style="padding: 5px 0;">
              <span style="font-size: 12px;">
                A 5th year Computer Engineering student from the Polytechnic University of the Philippines – College of Engineering. He is inclined to research and development for web applications. He likes to watch movies, tv series, dramas, and play computer games. He is passionate in playing DoTA.
              </span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <div class="" style="width: 180px; height: 180px; margin: 10px; background-image: url('{% static 'img/tampus.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          </div>
          <div class="" style="width: 180px; margin: 0 10px;">
            <div class="d-flex flex-column justify-content-center align-items-center" style="margin: 0 auto;">
              <span style="margin-bottom: 5px; color: #61299F; font-size: 12px; font-weight: bold;">Front-End Web Developer</span>
              <span style="font-size: 14px; font-weight: bold; text-transform: uppercase;">Almer Tampus</span>
            </div>
            <div class="" style="padding: 5px 0;">
              <span style="font-size: 12px;">
                A 5th year Computer Engineering student from the Polytechnic University of the Philippines – College of Engineering. Passionate about web design and development. He is also a minimalist. Living a private, low key lifestyle has become one of his goals lately.
              </span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <div class="" style="width: 180px; height: 180px; margin: 10px; background-image: url('{% static 'img/tejada.JPG' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          </div>
          <div class="" style="width: 180px; margin: 0 10px;">
            <div class="d-flex flex-column justify-content-center align-items-center" style="margin: 0 auto;">
              <span style="margin-bottom: 5px; color: #61299F; font-size: 12px; font-weight: bold;">Android Developer</span>
              <span style="font-size: 14px; font-weight: bold; text-transform: uppercase;">Theo Tejada</span>
            </div>
            <div class="" style="padding: 5px 0;">
              <span style="font-size: 12px;">
                A 5th year Computer Engineering student from the Polytechnic University of the Philippines – College of Engineering. He focuses on giving the best user experience across the platforms he’s working on – whether it be on app/web development, support, or DevOps. He also practices usage of various cloud computing platforms for some of his projects. He likes watching esports, various foreign pop cultures, and playing computer games.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
</div>

{% endblock %}
