{% extends "mobile-native/layout/layout.html" %}
{% load static %}

{% block title %}
Privacy
{% endblock %}


{% block content %}

<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-9 bg-white" style="padding: 20px;">
        <h3>Privacy Policy</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue ipsum non facilisis cursus. Nam finibus blandit fermentum. Cras mollis vestibulum magna non sollicitudin. Pellentesque ac erat ut justo rhoncus pretium eu ac diam. Morbi
          tempor tincidunt massa, ac mollis augue cursus ut. Fusce et magna ac risus tristique dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam maximus mattis ex, ultrices efficitur diam congue
          quis. Integer quis ornare felis. Ut faucibus ligula quis eros aliquet sagittis.
        </p>
        <p>
          Nulla facilisi. Quisque maximus consectetur quam at consectetur. Donec a lectus lacus. Sed lobortis tortor dapibus odio fringilla vestibulum. Nunc orci urna, scelerisque in justo ut, lacinia pharetra augue. Fusce vitae lectus consequat,
          viverra lorem eu, ultrices turpis. Curabitur tristique porta elit, eu porta neque elementum sagittis. Nunc hendrerit velit elit, ac iaculis sem vulputate in. Cras at odio consectetur, scelerisque ante sed, venenatis eros.
        </p>
        <p>
          Integer mauris eros, suscipit nec sapien eget, accumsan blandit urna. In ligula nisl, pulvinar vitae odio eu, congue sollicitudin tortor. Etiam sagittis ornare velit eu blandit. Vivamus convallis, arcu sagittis mollis placerat, purus ipsum
          sollicitudin tortor, et molestie nunc eros sed risus. Sed condimentum augue in tempus condimentum. Maecenas lacus eros, vehicula ut urna eu, fringilla iaculis dolor. Proin posuere pharetra placerat. Curabitur gravida eleifend ante.
          Phasellus porta hendrerit erat, at iaculis massa. Donec scelerisque lacus nulla, vel condimentum odio sodales nec. Suspendisse semper magna a orci sollicitudin, eu porttitor lorem luctus. In elementum fermentum eros, eget porttitor orci.
          Mauris non ante dui.
        </p>
        <p>
          Ut a ante molestie, tincidunt sem vitae, suscipit elit. Phasellus hendrerit leo at ante molestie suscipit. Nulla ultricies tortor urna, at mattis tellus fringilla ut. Integer sed risus eu purus sagittis iaculis et ac mi. Cras dapibus leo
          sit amet fringilla tempor. Integer ac lorem pretium, vestibulum purus quis, luctus libero. Mauris urna sem, molestie ut sodales at, porta sit amet odio. Etiam sit amet elit rutrum, vehicula erat nec, blandit ex. Pellentesque faucibus
          laoreet diam, in volutpat sem scelerisque vel. Fusce et tincidunt libero.
        </p>
        <p>
          Integer pulvinar dui nec est vestibulum consequat. Nullam maximus nisi at nunc mattis lacinia. Quisque pharetra cursus rhoncus. Suspendisse potenti. Praesent eu facilisis justo. Nulla sapien diam, finibus id ante nec, scelerisque consequat
          mi. Quisque aliquet erat ac tortor pulvinar luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla sagittis turpis vel venenatis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Quisque et suscipit dui, in fermentum nisi. Suspendisse potenti. Curabitur auctor facilisis eleifend. Integer volutpat mauris id porta fringilla.
        </p>
        <p>
          Duis est ex, scelerisque eget arcu eget, finibus suscipit est. Vestibulum turpis velit, sodales in iaculis sed, maximus at metus. Duis luctus iaculis neque et ultrices. Donec vel ligula consectetur, pulvinar lorem in, ultricies sapien.
          Pellentesque porta odio purus. Phasellus tempus rutrum orci nec condimentum. Ut placerat ipsum ligula, et malesuada nisi tristique molestie. Quisque tempus metus a mollis malesuada. Suspendisse quam ante, bibendum consequat enim ac,
          dignissim venenatis enim.
        </p>
        <p>
          Integer tincidunt ex in lorem tincidunt facilisis. Donec mauris quam, porta sit amet elit sed, laoreet pretium sem. Donec pellentesque magna nec tortor efficitur, sit amet pretium est fringilla. Suspendisse potenti. Donec sollicitudin urna
          vitae malesuada ultrices. Maecenas bibendum interdum orci, gravida imperdiet justo commodo quis. Vivamus quis elementum est. Etiam sollicitudin iaculis sapien, eleifend ultricies nulla vehicula ut. Donec lacinia velit neque, fringilla
          iaculis tortor euismod sed. Vestibulum ut malesuada sem, eget fringilla ligula. Fusce suscipit dapibus lectus, id dignissim nisi vulputate non. Cras varius volutpat augue, finibus malesuada diam rhoncus quis. Proin ultricies, justo at
          semper viverra, ligula mauris tincidunt mi, nec aliquam sem tortor in purus. Donec convallis arcu mollis sem fringilla venenatis.
        </p>
        <p>
          Cras vestibulum sed mauris vel ultricies. Proin commodo dui nec pellentesque ornare. Nam porta porta dolor, at commodo urna rutrum vitae. Nunc ut feugiat urna. In ultricies quam sem, sed consectetur neque ullamcorper at. Cras aliquet
          efficitur enim, quis aliquam lectus viverra sit amet. Integer mauris turpis, accumsan eu rutrum in, ultricies vitae ex. Mauris pellentesque lorem non nibh consectetur, a sagittis ante vehicula. Nulla lacus ex, sodales at venenatis at,
          ultricies ut orci. Nam ultricies egestas ante ut gravida. Praesent vitae finibus neque. Donec dapibus eros enim, quis vulputate mi consectetur ut.
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<!-- end of main content -->

{% endblock %}
