{% extends "mobile-native/layout/layout.html" %}
{% load static %}

{% block title %}
Terms of Use
{% endblock %}

{% block content %}

<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-9 bg-white" style="padding: 20px;">
        <h3>Terms of Use</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a est a enim scelerisque tempus. Pellentesque at iaculis felis. Ut suscipit a risus eget interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae; Donec malesuada dui felis, sit amet porta eros viverra ac. Curabitur ac porta diam. Aliquam bibendum sem orci, et ultrices ipsum facilisis quis. Phasellus dictum eu eros at ultricies. Mauris faucibus ligula at ipsum congue volutpat.
          Donec at quam eget sapien dictum tempor fermentum in mauris. Vestibulum sollicitudin nisi in aliquam ullamcorper. Donec et dolor sed tellus aliquet accumsan ut non risus.
        </p>


          <p>
            Maecenas vitae massa leo. Donec eget dignissim turpis. Sed pretium nisl nec dignissim dictum. Integer commodo condimentum ligula, sollicitudin euismod augue. Ut id nisl eu turpis tristique mattis. Donec fringilla ac libero sit amet
            placerat. Vivamus blandit, massa in congue aliquet, sem velit blandit tortor, id elementum magna enim id est. Quisque rhoncus porttitor leo, vitae facilisis lorem porttitor sed. Donec varius, diam in maximus feugiat, lorem risus aliquam
            metus, non mattis tellus odio vel eros. Donec eget mi sagittis, efficitur diam quis, lobortis ipsum. Cras gravida dolor quis tellus lobortis, nec imperdiet enim aliquet. Mauris commodo imperdiet ornare. Donec dapibus dui eu odio tristique
            varius. Quisque metus lacus, tempor ac urna et, tempus tempor libero.
          </p>

          <p>
            In eu elit vestibulum sapien egestas tempus ac in sem. Phasellus feugiat, sem tempor ultricies feugiat, quam velit viverra nulla, et sodales eros justo et nibh. Nulla sit amet suscipit lorem. Suspendisse auctor, sapien in condimentum
            egestas, erat dui pharetra augue, at feugiat erat dui ut sem. Etiam ac dignissim odio. Proin vitae leo tristique, lobortis neque ac, hendrerit arcu. In hac habitasse platea dictumst. Suspendisse potenti. Cras a lacus accumsan, imperdiet
            magna vel, posuere dui. Phasellus sapien orci, faucibus sed cursus vitae, congue ut neque. Proin leo justo, sollicitudin at ligula vitae, porta dapibus diam. Vestibulum eu rhoncus neque. Phasellus consectetur rhoncus purus, vitae
            scelerisque elit laoreet cursus. Ut quis lorem efficitur, consectetur ligula quis, pharetra orci. Nullam pharetra magna mi, id malesuada sapien congue a.
          </p>

          <p>
            Sed et massa sed lorem fermentum tristique vitae a diam. Ut interdum eu quam vitae congue. Donec ultricies mi orci, a faucibus augue sagittis quis. Nunc et orci vitae metus dapibus aliquam. Cras a quam libero. Aenean mollis enim sed neque
            congue pulvinar. Cras auctor, est in cursus bibendum, tellus sem congue tortor, sed elementum tortor nibh posuere nisi.
          </p>

          <p>
            Proin metus ligula, euismod quis lacinia vitae, egestas vel enim. Praesent a sapien et enim mattis rhoncus. Vestibulum elit ipsum, rhoncus sit amet ex volutpat, gravida sodales leo. Vestibulum laoreet elit non ipsum egestas tincidunt.
            Praesent rhoncus condimentum lacus eu bibendum. Proin interdum ex tellus, at ullamcorper sem fringilla id. Donec lorem nisl, tempus ut aliquam ac, vestibulum et est. In tincidunt vulputate ex, id consectetur leo. Nam non porta dui. Maecenas
            malesuada risus eget odio euismod imperdiet. Duis et nisi erat. Nam sed molestie urna, id dictum urna. Cras sagittis vestibulum aliquet. Etiam sed tempus tortor.
          </p>

          <p>
            Etiam eget ipsum ultrices, egestas ipsum sit amet, hendrerit ante. Integer venenatis sapien at metus tempus, id volutpat tellus viverra. Duis ut accumsan est. Vivamus molestie at justo vitae vulputate. Sed iaculis interdum diam a volutpat.
            Etiam pulvinar ex turpis, vel sollicitudin erat semper ut. Sed posuere tellus vitae magna ultrices condimentum. Maecenas rutrum sem eu posuere iaculis. Aliquam erat volutpat. Cras nisl augue, pretium nec posuere ut, congue sed nisi. Nulla
            facilisi. Maecenas sit amet scelerisque neque.
          </p>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<!-- end of main content -->

{% endblock %}
