{% extends "web/layout/layout.html" %}
{% load static %}

{% block title %}
  About Us
{% endblock %}

{% block content %}

<!-- main content -->
  <div class="container-fluid">
    <div class="container">
      <div class="row" style="margin: 20px 0 20px 0;">
        <div class="col-sm-1"></div>
        <div class="col-sm-9 z-depth-1 rounded" style="padding: 30px 30px 60px 30px;">
          <h4>What is Roomy?</h4>
          <hr style="border-top: 1px solid #5392f9;">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et vulputate orci. Nunc vitae egestas ipsum, vehicula tempus felis. Sed sagittis consequat diam vitae vehicula. Donec eu lorem quis augue mattis accumsan. Donec finibus ipsum in turpis lobortis, eget mollis diam consequat. Sed volutpat arcu vel neque dignissim lacinia. Sed placerat, tellus nec placerat consectetur, quam felis lobortis nulla, efficitur elementum purus lorem in arcu. Proin vitae tincidunt libero. Proin at sagittis diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris ipsum purus, sodales id lectus vitae, pellentesque facilisis tortor. Integer aliquam risus a consequat aliquam. Mauris rutrum malesuada tellus, eu posuere arcu eleifend id. Nulla facilisi. Maecenas volutpat, leo id scelerisque elementum, odio augue rhoncus lectus, sit amet mattis tortor mauris at orci.
          </p>
          <p>
            Sed aliquam semper scelerisque. Ut tempus augue a elementum sollicitudin. In odio magna, feugiat ut urna sed, porta condimentum felis. Cras non sapien semper, viverra sapien vitae, porttitor mauris. Nullam vitae orci lacus. Nullam condimentum tellus augue, quis pulvinar quam venenatis non. Cras pellentesque aliquet bibendum. Quisque sed est vitae quam viverra fermentum nec sit amet orci. Maecenas leo ligula, gravida at ex nec, rutrum ullamcorper mauris. Maecenas ut diam rutrum, luctus leo ac, venenatis ipsum. Sed egestas, augue vitae semper efficitur, neque ligula ultrices enim, eget volutpat ex urna sit amet dolor.
          </p>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row" style="margin: 20px 0 20px 0;">
        <div class="col-sm-1"></div>
        <div class="col-sm-9 z-depth-1 rounded" style="padding: 30px 30px 60px 30px;">
          <h4>Vision</h4>
          <hr style="border-top: 1px solid #5392f9;">
          <p>
            Phasellus leo sapien, dignissim non pellentesque vel, maximus non magna. Cras euismod iaculis dui sed dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam vitae quam vel felis facilisis consequat sit amet vitae lacus. Nam vel nulla ligula. Donec leo augue, cursus sit amet enim et, luctus molestie lorem. Etiam eu mauris venenatis, interdum libero id, lobortis turpis. Ut ut feugiat massa, id pellentesque odio.
          </p>
          <h4>Mission</h4>
          <hr style="border-top: 1px solid #5392f9;">
          <p>
            Phasellus fermentum pellentesque ipsum vitae egestas. Ut faucibus at lorem ut vestibulum. Nunc ac lacus faucibus, lacinia est sed, tincidunt lectus. Quisque volutpat mi mi. Etiam lacinia ultrices condimentum. In quis nisi non risus vestibulum eleifend nec eget augue. Curabitur congue, quam quis sagittis accumsan, massa ligula tincidunt orci, non gravida tellus eros nec eros. Nam sit amet sapien vitae enim tristique egestas.
          </p>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row" style="margin: 20px 0 20px 0;">
        <div class="col-sm-1"></div>
        <div class="col-sm-9 z-depth-1 rounded" style="padding: 30px 30px 60px 30px;">
          <h4>Partner With Us</h4>
          <hr style="border-top: 1px solid #5392f9;">
          <p>
            Morbi arcu arcu, commodo vitae maximus nec, aliquet quis neque. Praesent ligula nunc, ornare placerat tortor eu, finibus mollis nulla. Ut porttitor, est vel fermentum vehicula, diam lectus fringilla arcu, quis eleifend enim augue id turpis. Nam congue neque nec enim volutpat, a pharetra lacus interdum. Pellentesque eget scelerisque tellus. Quisque vehicula malesuada massa. Morbi auctor mauris non ipsum finibus, sit amet fermentum erat posuere. Mauris fermentum ornare neque, id scelerisque nulla eleifend sit amet. Quisque et tempor orci. Nam et sem laoreet, dapibus ligula ac, varius lectus.
          </p>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
<!-- end of main content -->

{% endblock %}
