{% extends "web/layout/layout.html" %}
{% load static %}

{% block title %}
  About Us
{% endblock %}

{% block content %}

<!-- main content -->
  <div class="container-fluid" style="margin-top: 80px; margin-bottom: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9 bg-white" style="padding: 20px;">
          <h3>About<span style="color: #FF3F00;"> Us</span></h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et vulputate orci. Nunc vitae egestas ipsum, vehicula tempus felis. Sed sagittis consequat diam vitae vehicula. Donec eu lorem quis augue mattis accumsan. Donec finibus ipsum in turpis lobortis, eget mollis diam consequat. Sed volutpat arcu vel neque dignissim lacinia. Sed placerat, tellus nec placerat consectetur, quam felis lobortis nulla, efficitur elementum purus lorem in arcu. Proin vitae tincidunt libero. Proin at sagittis diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris ipsum purus, sodales id lectus vitae, pellentesque facilisis tortor. Integer aliquam risus a consequat aliquam. Mauris rutrum malesuada tellus, eu posuere arcu eleifend id. Nulla facilisi. Maecenas volutpat, leo id scelerisque elementum, odio augue rhoncus lectus, sit amet mattis tortor mauris at orci.
          </p>
          <p>
            Sed aliquam semper scelerisque. Ut tempus augue a elementum sollicitudin. In odio magna, feugiat ut urna sed, porta condimentum felis. Cras non sapien semper, viverra sapien vitae, porttitor mauris. Nullam vitae orci lacus. Nullam condimentum tellus augue, quis pulvinar quam venenatis non. Cras pellentesque aliquet bibendum. Quisque sed est vitae quam viverra fermentum nec sit amet orci. Maecenas leo ligula, gravida at ex nec, rutrum ullamcorper mauris. Maecenas ut diam rutrum, luctus leo ac, venenatis ipsum. Sed egestas, augue vitae semper efficitur, neque ligula ultrices enim, eget volutpat ex urna sit amet dolor.
          </p>
        </div>
      </div>
    </div>
  </div>

<!-- end of main content -->

{% endblock %}
