{% extends "web/layout/layout.html" %}
{% load static %}

{% block title %}
FAQ
{% endblock %}

{% block content %}

<!-- main content -->
<div class="container-fluid" style="margin-top: 80px;">
  <div class="container">
    <div class="row" style="margin: 20px 0 20px 0;">
      <div class="col-12 z-depth-1 rounded" style="padding: 20px;">
        <h2>Frequently Asked Questions (FAQ)</h2>
      </div>
    </div>

    {% for faq in faqs %}
    <div class="row">
      <div class="accordion col" id="faqs">
        <div class="card z-depth-0 bordered">
          <div class="card-header" id="headingOne">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{faq.pk}}" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="mb-0">{{faq.question}}</h5>
          </button>
          </div>
          <div id="collapse{{faq.pk}}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="headingOne" data-parent="#faqs">
            <div class="card-body">
              {{ faq.answer }}
            </div>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}

    <div class="row">
      {% if faqs.has_previous %}
      <a class="btn btn-xs btn-primary mb-4 mr-1" href="?page=1">First</a>
      <a class="btn btn-xs btn-primary mb-4 mr-1" href="?page={{ faqs.previous_page_number }}">{{ faqs.previous_page_number }}</a>
      {% endif %}
      <a class="btn btn-xs btn-primary mb-4 mr-1 text-white" style="pointer-events: none;">{{ faqs.number }}</a>
      {% if faqs.has_next %}
      <a class="btn btn-xs btn-primary mb-4 mr-1" href="?page={{ faqs.next_page_number }}">{{ faqs.next_page_number }}</a>
      <a class="btn btn-xs btn-primary mb-4" href="?page={{ faqs.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
  </div>
</div>
<!-- end of main content -->

{% endblock %}
