{% extends "web/layout/layout.html" %}
{% load static %}

{% block title %}
Help Center
{% endblock %}

{% block content %}

<!-- main content -->
<div class="container-fluid" style="margin-top: 80px;">
  <div class="container">
    <div class="row" style="margin: 20px 0 20px 0;">
      <div class="col-sm-1"></div>
      <div class="col-sm-9 bg-light rounded" style="padding: 20px;">
        <h2>Help Center</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec luctus felis. Maecenas convallis aliquam erat eget malesuada. Vestibulum rhoncus nec mi eu posuere. Nam sagittis lobortis orci a ullamcorper. Mauris libero tortor, molestie a
          imperdiet vitae, laoreet et diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam tincidunt ante pellentesque magna lobortis consequat et at magna. Quisque porta justo eros, sed hendrerit nunc tempus
          vitae. Morbi fermentum interdum libero, eu pellentesque sapien aliquet a. Mauris et metus sed nunc volutpat dapibus. Nulla quis venenatis leo, sit amet euismod neque. Cras id congue eros. Aenean in lobortis mi. In euismod nulla sit amet diam
          porttitor venenatis.
        </p>
        <p>
          Pellentesque fringilla varius purus a aliquam. Nulla molestie lacinia rutrum. Duis aliquam sapien porta neque laoreet elementum. Sed vestibulum blandit massa, at lacinia purus tincidunt non. Aliquam eu sem felis. Morbi interdum, nunc sed rhoncus
          gravida, nibh quam laoreet mauris, ut varius est purus a augue. Praesent a arcu feugiat, interdum magna finibus, vestibulum felis.
        </p>
        <p>
          Duis non dolor sed lectus venenatis convallis sit amet vel elit. Proin in dui tristique, viverra eros nec, molestie dui. Quisque scelerisque ultrices ligula vitae congue. Sed eleifend cursus pharetra. Phasellus vel turpis ligula. Aliquam tempor, ante
          a maximus semper, erat nisl ullamcorper ante, a ultricies nisi ante sit amet velit. Integer vehicula pharetra libero, ac tristique eros dapibus et. Aenean nec massa at dui porttitor suscipit. Nam in luctus ligula. Ut eget aliquam ex. Duis varius quam
          a lacus lacinia dictum. Aliquam et vulputate purus. Phasellus quis sapien ac tortor interdum scelerisque ut eu nulla. Sed mattis neque malesuada, consectetur turpis nec, ullamcorper ipsum.
        </p>
        <p>
          Suspendisse massa velit, finibus pretium sem vel, consequat viverra tellus. Donec et odio id elit accumsan interdum sed nec velit. Phasellus lobortis nisl eros, et maximus ligula pulvinar vitae. Donec efficitur tortor vitae efficitur eleifend. Nulla
          facilisi. Pellentesque eget condimentum tortor. Donec a sodales lectus.
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<!-- end of main content -->

{% endblock %}
