{% extends "web/layout/layout.html" %}
{% load static %}


{% block content %}

<!-- main content -->
<div class="container-fluid" data-spy="scroll" data-target=".row-custom" data-offset="50" style="margin-top: 80px;">
  <div class="container">

    <div class="row d-flex flex-row flex-wrap first_row" style="margin-bottom: 100px; padding-top: 50px;">

      <div class="wrapper d-flex flex-column justify-content-center align-items-center" style="margin-bottom: 50px; flex-grow: 1;">
        <img src="{% static "img\placeholder_500x350.png" %}" alt="" style="width:100%; margin: 0; padding: 0;">
      </div>

      <div class="wrapper d-flex flex-column justify-content-center" style="margin-bottom: 50px; padding: 10px; flex-grow: 1;">
        <h2 class="text-center">Partner With Us</h2>
        <p class="text-center" style="width: 280px; margin: 0 auto;">Nam vitae velit rhoncus, convallis est ut, iaculis neque.</p>
        <div class="wrapper d-flex flex-row justify-content-center" style="margin-top: 10px;">
          <a class="btn" style="width: 150px; background-color: #5392f9;" href="#rowCustom">Learn more</a>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="container-fluid z-depth-2" id="rowCustom">
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-center" style="margin: 20px; padding: 80px 20px 80px 20px;">
      <h4 class="text-center">Loreim, Ipsum Dolor</h4> <br> <br>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="first col-md-4 text-center">
          <img src="{% static "img\placeholder_200x200.png" %}" alt=""> <br> <br>
          <p>Phasellus ultricies, massa non mattis egestas, lectus diam bibendum odio, vitae vehicula diam elit vel ipsum.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="{% static "img\placeholder_200x200.png" %}" alt=""> <br> <br>
          <p>Praesent imperdiet, est at pulvinar vulputate, sem ligula tincidunt magna, sit amet faucibus neque turpis at mi.</p>
        </div>
        <div class="second col-md-4 text-center">
          <img src="{% static "img\placeholder_200x200.png" %}" alt=""> <br> <br>
          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eget scelerisque ipsum.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row d-flex justify-content-center" style="margin: 20px;">
      <div class="d-flex flex-column justify-content-center" style="padding: 200px 0 200px 0;">
        <h4 class="text-center">Maecenas vel mi gravida, imperdiet sapien non, ornare mi?</h4>
        <span class="text-center">Sagittis sodales nisi ullamcorper et!</span>
        <div class="wrapper d-flex flex-row justify-content-center">
          <a class="btn" style="width: 200px; margin-top: 10px; margin-bottom: 10px; background-color: #5392f9;" type="button" href="{% url 'get_in_touch' %}">GET IN TOUCH</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- get in touch modal -->
<form class="" action="#" method="post">

  <!-- modal -->
  <div class="modal fade" id="getInTouchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">

      <!-- modal content -->
      <div class="modal-content" style="margin: 0 auto; border-radius: 15px;">

        <!-- modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row d-flex justify-content-center" style="padding-right: 10px; padding-left: 10px;">
              <div class="d-flex flex-column justify-content-center" style="margin-bottom: 20px;">
                <img src="{% static "img\logo_black.png" %}" alt="" style="width:170px; height: 35px;">
                <h4 class="text-center" style="margin-top: 30px;">Partner With Us</h4>
              </div>
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3" style="width: 100px;">Full Name</span>
                  </div>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3" style="width: 100px;">Company</span>
                  </div>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3" style="width: 100px;">Mobile</span>
                  </div>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3" style="width: 100px;">Email</span>
                  </div>
                  <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3" style="width: 100px;">Message</span>
                  </div>
                  <textarea class="form-control" name="name" rows="5" cols="50"></textarea>
                </div>
                <div class="d-flex justify-content-center" style="margin-top: 40px;">
                  <button type="button" class="btn btn-sm btn-dark">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</form>
<!-- end of get in touch modal -->

<!-- end of main content -->

{% endblock %}
