{% extends "web/layout/layout.html" %}
{% load static %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: 80px;">
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-center align-items-center">
      <div class="text-center" style="width: 100%; margin: 10px;">
        <span style="font-size: 35px; font-weight: bold; text-transform: uppercase;">OUR TEAM</span>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <div class="" style="width: 250px; height: 250px; min-height: 250px; margin: 10px; background-image: url('{% static 'img/placeholder.png' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        </div>
        <div class="" style="width: 250px; height: 250px; min-height: 250px; margin: 0 10px;">
          <div class="d-flex flex-column justify-content-center align-items-center" style="margin: 0 auto;">
            <span style="color: #FF3F00; font-size: 12px; font-weight: bold;">Lead Developer</span>
            <span style="font-size: 15px; font-weight: bold; text-transform: uppercase;">Joshua John Pascual</span>
          </div>
          <div class="" style="padding: 10px;">
            <span style="font-size: 14px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet tempor massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur risus ac felis egestas, id bibendum tortor faucibus. Nam vulputate velit a
              facilisis facilisis.
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <div class="" style="width: 250px; height: 250px; min-height: 250px; margin: 10px; background-image: url('{% static 'img/panganiban.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        </div>
        <div class="" style="width: 250px; height: 250px; min-height: 250px; margin: 0 10px;">
          <div class="d-flex flex-column justify-content-center align-items-center" style="margin: 0 auto; padding: 0 10px;">
            <span style="color: #FF3F00; font-size: 12px; font-weight: bold;">Back-End Web Developer</span>
            <span style="font-size: 15px; font-weight: bold; text-transform: uppercase;">Alvin Carlos Panganiban</span>
          </div>
          <div class="" style="padding: 10px;">
            <span style="font-size: 14px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet tempor massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur risus ac felis egestas, id bibendum tortor faucibus. Nam vulputate velit a
              facilisis facilisis.
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <div class="" style="width: 250px; height: 250px; min-height: 250px; margin: 10px; background-image: url('{% static 'img/tampus.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        </div>
        <div class="" style="width: 250px; height: 250px; min-height: 250px; margin: 0 10px;">
          <div class="d-flex flex-column justify-content-center align-items-center" style="margin: 0 auto;">
            <span style="color: #FF3F00; font-size: 12px; font-weight: bold;">Front-End Web Developer</span>
            <span style="font-size: 15px; font-weight: bold; text-transform: uppercase;">Almer Tampus</span>
          </div>
          <div class="" style="padding: 10px;">
            <span style="font-size: 14px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet tempor massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur risus ac felis egestas, id bibendum tortor faucibus. Nam vulputate velit a
              facilisis facilisis.
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <div class="" style="width: 250px; height: 250px; min-height: 250px; margin: 10px; background-image: url('{% static 'img/tejada.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        </div>
        <div class="" style="width: 250px; height: 250px; min-height: 250px; margin: 0 10px;">
          <div class="d-flex flex-column justify-content-center align-items-center" style="margin: 0 auto;">
            <span style="color: #FF3F00; font-size: 12px; font-weight: bold;">Android Developer</span>
            <span style="font-size: 15px; font-weight: bold; text-transform: uppercase;">Theo Leonard Tejada</span>
          </div>
          <div class="" style="padding: 10px;">
            <span style="font-size: 14px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet tempor massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur risus ac felis egestas, id bibendum tortor faucibus. Nam vulputate velit a
              facilisis facilisis.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
