table td.highlighted {
    background-color: red;
}

table.table-bordered {
    border: 1 px solid black;
    margin-top: 20px;
}

table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

.amber-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea.md-form label.active {
    color: #ffa000;
}
.active-amber-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #ffa000; /* text on textarea */
}