{% extends "web/layout/layout.html" %}

{% block extra_css %}
<style media="screen">

</style>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row d-flex flex-wrap justify-content-center align-items-center" style="margin: 10px;">
    <div class="col-md-5 z-depth-1-half rounded d-flex flex-column justify-content-center" style="margin: 20px; padding: 20px;">
      <span style="margin: 5px auto 15px auto; font-size: 25px;">Reset Password</span>
      <div class="form-group d-flex justify-content-center align-items" style="margin: 10px 15px;">
        <input class="form-control" style="margin: 0 15px 0 15px;" type="text" name="username" value="" placeholder="email">
      </div>
      <div class="d-flex justify-content-center" style="margin: 10px 15px 40px 15px;">
        <button class="btn btn-block btn-dark" style="margin: 0 15px; color: white; background-color: #61299F;" type="submit" name="button">Reset</button>
      </div>
      <div class="text-center" style="margin-bottom: 20px; font-size: 14px;">
        <span>back to</span>
        <a href="{% url 'sign_up' %}" type="button" name="button">log in</a>
      </div>

    </div>
  </div>
  <form class="" action="index.html" method="post">


  </form>
</div>

{% endblock %}
