{% extends "mobile-native/layout/layout_2.html" %}
{% load static %}

{% block title %}
Rooms
{% endblock %}

{% block content %}

<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <div class="row" style="margin-bottom: 50px;">
      <div class="col-md-1"></div>
      <div class="col-md-9 bg-light rounded">
        <div class="text-justify" style="padding: 20px;">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel nunc eget ex varius iaculis vel a nisl. Vivamus ut tincidunt nisl. Integer eleifend, diam consequat dictum accumsan, metus justo dictum purus, non consequat risus risus ut
            turpis. Curabitur pellentesque porttitor augue, sed dignissim nisi fringilla sit amet. Vestibulum vehicula nisl ex, nec venenatis sapien ullamcorper eu. Sed nec interdum velit. Pellentesque sed purus nec dui pretium mattis facilisis eget
            leo. Sed posuere sed massa id sollicitudin. Vivamus massa erat, pharetra ornare commodo eget, molestie ac odio. Fusce nulla tortor, lobortis ac metus ac, finibus efficitur eros. Morbi magna enim, vehicula vitae rutrum nec, tempus in erat.
          </p>
          <p>
            Cras libero mauris, tincidunt in laoreet eget, viverra et odio. Aliquam pharetra fringilla euismod. Sed eu orci in elit tristique scelerisque volutpat eu massa. Vivamus condimentum consectetur felis. Etiam ac dolor semper, porta orci in,
            condimentum ligula. Nunc faucibus consectetur diam, tincidunt vestibulum turpis mattis sed. Nullam blandit ex non velit fringilla ornare. In fermentum, ipsum ac feugiat sodales, dolor nulla fringilla nulla, a egestas ipsum lectus ut mi.
            Praesent accumsan efficitur velit vitae tincidunt. Pellentesque a venenatis massa. Suspendisse potenti.
          </p>
          <p>
            Fusce metus augue, tincidunt at gravida vitae, venenatis a arcu. Aliquam sagittis tempor magna vel ornare. Donec tempus bibendum mauris eget sodales. Proin id mattis nisl, fringilla ornare turpis. Pellentesque pulvinar elit nisl. Nunc et
            dictum diam, ac aliquet orci. Aliquam erat volutpat. Praesent vulputate tristique nisl, quis tincidunt nibh efficitur eget. In egestas nisl nec ultricies molestie. Suspendisse vitae libero vel metus convallis placerat. In et metus placerat,
            imperdiet tortor in, consectetur orci.
          </p>
          <p>
            Vestibulum efficitur quam nec accumsan posuere. Duis urna neque, auctor vitae mauris at, tristique feugiat odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In varius tempor mi in luctus.
            Suspendisse volutpat, sem eget ultrices placerat, odio massa mollis est, sed porta massa ex in magna. Duis ac sagittis justo, nec scelerisque dolor. Suspendisse vehicula odio felis, quis fermentum sem mollis cursus. Maecenas ac tincidunt
            enim. Vestibulum dignissim diam enim, nec tristique sapien dictum quis.
          </p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<!-- end of main content -->

{% endblock %}
