{% extends "mobile-native/layout/layout.html" %}
{% load static %}

{% block title %}
Rooms
{% endblock %}

{% block content %}


<!-- main content -->
<div class="container-fluid">
  <div class="container">
    <!-- content -->
    <div class="row">
      <!-- listings -->
      <div class="d-flex flex-wrap justify-content-center">

        <!-- main property container -->
        <div class="" style="width: 400px;; margin: 10px 15px 40px 15px; padding: 0;">
          <div class="img-container">
            <div class="wrapper d-flex justify-content-center">
              <img class="img-fluid" src="{% static "img\placeholder_900x500.png" %}" alt="">
            </div>
            <div class="btn-over d-flex flex-column">
              <button class="btn btn-sm btn-dark" type="" name="button">View</button>
              <style>
                .img-container {
                  position: relative;
                }

                .btn-over {
                  position: absolute;
                  top: 88%;
                  left: 88%;
                  transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                }
              </style>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div class="wrapper" style="width: 100%;">
              <div class="text-wrapper" style="padding: 15px 0 10px 0;">
                <h5 style="padding-bottom: 15px; border-bottom: 1px solid lightgrey;">Room Number</h5>
                <h6 style="margin-bottom: 12px;">insert price here</h6>
                <p class="bg-light" style="width: 100%; padding: 10px 10px 30px 10px; border-radius: 5px;">
                  insert summary of room here
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end of main property container -->

      </div>
      <!-- end of listings -->
    </div>
    <!-- end of content -->

  </div>
</div>
<!-- end of main content -->

{% endblock %}
