{% extends "layout.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block google_chart %}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% endblock %}

{% block content %}

{% if properties %}

<div class="row d-flex justify-content-center" style="margin-bottom: 25px;">
  <div class="" style="width: 50%; height: 100vh; margin: 0; padding: 10px;">

    <!-- row 1 -->
    <div class="row d-flex justify-content-center align-items-center" style="width: 90%; margin: 0 auto 20px auto; padding: 0;">

      <select class="form-control z-depth-1" id="select_property" style="width: 100%; margin: 0; padding: 2px 5px; font-size: 18px; font-weight: bold; text-transform: uppercase; border: none;">
        {% for property in properties %}
        <option value="{{property.pk}}" style="font-size: 18px; text-transform: uppercase;">{{ property.name }}</option>
        {% endfor %}
      </select>

    </div>
    <!-- end of row 1 -->

    <!-- row 2 -->
    <div class="row d-flex flex-column justify-content-start align-items-center" style="margin: 0; padding: 0;">

      <!-- tiles -->
      <div class="d-flex flex-wrap justify-content-center" style="margin: 0;">

          <div class="d-flex justify-content-between align-items-center z-depth-1" style="min-width: 200px; min-height: 90px; margin: 0 20px 20px 20px; padding: 0 15px;">
            <div class="d-flex flex-column">
              <span class="active-tenants-span" style="color: black; font-size: 25px;">{{ active_tenants }}</span>
              <span style="color: black; font-size: 15px; font-weight: 500;">Tenant(s)</span>
              <span style="font-size: 10px;">All active tenants</span>
            </div>
            <div class="" style="width: 50px; height: 50px; background-image: url('static/img/tenant.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center z-depth-1" style="min-width: 200px; min-height: 90px; margin: 0 20px 20px 20px; padding: 0 15px;">
            <div class="d-flex flex-column">
              <span class="pending-bookings-span" style="color: black; font-size: 25px;">{{ pending_bookings }}</span>
              <span style="color: black; font-size: 15px; font-weight: 500;">Booking(s)</span>
              <span style="font-size: 10px;">Waiting for approval</span>
            </div>
            <div class="" style="width: 50px; height: 50px; background-image: url('static/img/booking.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center z-depth-1" style="min-width: 200px; min-height: 90px; margin: 0 20px 20px 20px; padding: 0 15px;">
            <div class="d-flex flex-column">
              <span class="active-rooms-span" style="color: black; font-size: 25px;">{{ active_rooms }}</span>
              <span style="color: black; font-size: 15px; font-weight: 500;">Active Room(s)</span>
              <span style="font-size: 10px;">As of this moment</span>
            </div>
            <div class="" style="width: 50px; height: 50px; background-image: url('static/img/lock.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center z-depth-1" style="min-width: 200px; min-height: 90px; margin: 0 20px 20px 20px; padding: 0 15px;">
            <div class="d-flex flex-column">
              <span class="avail-rooms-span" style="color: black; font-size: 25px;">{{ avail_rooms }}</span>
              <span style="color: black; font-size: 15px; font-weight: 500;">Available Room(s)</span>
              <span style="font-size: 10px;">As of this moment</span>
            </div>
            <div class="" style="width: 50px; height: 50px; background-image: url('static/img/unlock.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center z-depth-1" style="min-width: 200px; min-height: 90px; margin: 0 20px 20px 20px; padding: 0 15px;">
            <div class="d-flex flex-column">
              <span class="active-tenants-span" style="color: black; font-size: 25px;"></span>
              <span style="color: black; font-size: 15px; font-weight: 500;">Payment</span>
              <span style="font-size: 10px;">For This Month</span>
            </div>
            <div class="" style="width: 50px; height: 50px; background-image: url('static/img/tenant.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center z-depth-1" style="min-width: 200px; min-height: 90px; margin: 0 20px 20px 20px; padding: 0 15px;">
            <div class="d-flex flex-column">
              <span class="pending-bookings-span" style="color: black; font-size: 25px;"></span>
              <span style="color: black; font-size: 15px; font-weight: 500;">Expense</span>
              <span style="font-size: 10px;">For This Month</span>
            </div>
            <div class="" style="width: 50px; height: 50px; background-image: url('static/img/booking.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center z-depth-1" style="min-width: 200px; min-height: 90px; margin: 0 20px 20px 20px; padding: 0 15px;">
            <div class="d-flex flex-column">
              <span class="net-span" style="color: black; font-size: 25px;"></span>
              <span style="color: black; font-size: 15px; font-weight: 500;">Net Income</span>
              <span style="font-size: 10px;">For This Month</span>
            </div>
            <div class="" style="width: 50px; height: 50px; background-image: url('static/img/net_income.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center z-depth-1" style="min-width: 200px; min-height: 90px; margin: 0 20px 20px 20px; padding: 0 15px;">
            <div class="d-flex flex-column">
              <span class="net-span" style="color: black; font-size: 25px;"></span>
              <span style="color: black; font-size: 15px; font-weight: 500;">Gross Income</span>
              <span style="font-size: 10px;">For This Month</span>
            </div>
            <div class="" style="width: 50px; height: 50px; background-image: url('static/img/net_income.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
            </div>
          </div>

      </div>

    </div>
    <!-- end of row 2 -->

  </div>
  <div class="" style="width: 50%; height: 100vh; margin: 0; padding: 10px;">

    <!-- pie chart -->
    <div class="d-flex justify-content-start align-items-center z-depth-1" style="margin: 0 auto;">
      <div class="" id="pie_chart{{ property.name }}" style="margin: 0 auto;">
        <script type="text/javascript">
          // Load the Visualization API and the piechart package.
          google.charts.load('current', {
            'packages': ['corechart']
          });

          // Set a callback to run when the Google Visualization API is loaded.
          google.charts.setOnLoadCallback(drawChart);

          // Callback that creates and populates a data table,
          // instantiates the pie chart, passes in the data and
          // draws it.
          function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Percentage');
            data.addRows([
              ['paid', 200],
              ['unpaid', 100],
            ]);

            // Set chart options
            var options = {
              title: 'Payment',
              fontSize: 13,
              legend: 'bottom',
              width: 300,
              height: 300,
              colors: ['#303030', '#F87060'],
              backgroundColor: 'transparent'
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('pie_chart{{ property.name }}'));
            chart.draw(data, options);
          }
        </script>
      </div>
    </div>
    <!-- end of pie chart -->

  </div>
</div>

{% else %}

<div class="row d-flex justify-content-center">
  <div class="d-flex justify-content-center" style="margin-top: 20px;">
    <span style="font-size: 22px;">There are currently no registered properties under your account.</span>
  </div>
</div>

{% endif %}

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    var val = $('.mdb-select').val();
    $('.property-name-span').html($(".mdb-select option:selected").text());
    $.ajax({
      url: '/home-ajax',
      data: {
        'val': val
      },
      dataType: 'json',
      success: function(data) {
        if (data) {
          $('.active-tenants-span').html(data.active_tenants);
          $('.pending-bookings-span').html(data.pending_bookings);
          $('.active-rooms-span').html(data.active_rooms);
          $('.avail-rooms-span').html(data.avail_rooms);
          $('.payments-span').html(data.payments);
        }
      }
    });

    $(".mdb-select").on("change", function() {
      var val = $('.mdb-select').val();
      $('.property-name-span').html($(".mdb-select option:selected").text());
      $.ajax({
        url: '/home-ajax',
        data: {
          'val': val
        },
        dataType: 'json',
        success: function(data) {
          if (data) {
            $('.active-tenants-span').html(data.active_tenants);
            $('.pending-bookings-span').html(data.pending_bookings);
            $('.active-rooms-span').html(data.active_rooms);
            $('.avail-rooms-span').html(data.avail_rooms);
            $('.payments-span').html(data.payments);
          }
        }
      });

    });
  });
</script>
{% endblock extra_js %}
