{% extends "layout.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block google_chart %}
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.charts.load('current', {
    'packages': ['corechart']
  });

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Topping');
    data.addColumn('number', 'Percentage');
    data.addRows([
      ['Paid', 200],
      ['Unpaid', 100],
    ]);

    // Set chart options
    var options = {
      title: 'Pie Chart',
      fontSize: 15,
      legend: 'bottom',
      width: 250,
      height: 250,
      colors: ['darkgrey', '#303030'],
      backgroundColor: 'transparent'
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
    chart.draw(data, options);
  }
</script>
{% endblock %}

{% block content %}


{% if properties %}

<h2>Property:</h2>
<select class="mdb-select md-form property-select">
  {% for property in properties %}
  <option value="{{property.pk}}">{{property.name}}</option>
  {% endfor %}
</select>


<div class="row d-flex justify-content-between align-items-start" style="margin: 20px 20px 100px 20px; padding: 0;">

  <!-- tiles -->
  <div class="d-flex flex-column flex-wrap justify-content-center" style="width: 450px; margin-right: 0 15px;">

    <div class="z-depth-1" style="margin-bottom: 20px; padding: 5px;">
      <span class="property-name-span"
        style="color: black; text-transform: uppercase; font-size: 22px; font-weight: bold;"></span>
    </div>

    <!-- row 1 -->
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-between align-items-center z-depth-1"
        style="min-width: 200px; min-height: 90px; margin: 0 0 40px 0; padding: 0 15px;">
        <div class="d-flex flex-column">
          <span class="active-tenants-span" style="color: black; font-size: 25px;"></span>
          <span style="font-size: 15px;">Tenant(s)</span>
          <span style="font-size: 10px;">All active tenants</span>
        </div>
        <div class=""
          style="width: 50px; height: 50px; background-image: url('static/img/tenant.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center z-depth-1"
        style="min-width: 200px; min-height: 90px; margin: 0 0 40px 0; padding: 0 15px;">
        <div class="d-flex flex-column">
          <span class="pending-bookings-span" style="color: black; font-size: 25px;"></span>
          <span style="font-size: 15px;">Booking(s)</span>
          <span style="font-size: 10px;">Waiting for approval</span>
        </div>
        <div class=""
          style="width: 50px; height: 50px; background-image: url('static/img/booking.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
        </div>
      </div>
    </div>

    <!-- row 2 -->
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-between align-items-center z-depth-1"
        style="min-width: 200px; min-height: 90px; margin: 0 0 40px 0; padding: 0 15px;">
        <div class="d-flex flex-column">
          <span class="active-rooms-span" style="color: black; font-size: 25px;"></span>
          <span style="font-size: 15px;">Active Room(s)</span>
          <span style="font-size: 10px;">As of this moment</span>
        </div>
        <div class=""
          style="width: 50px; height: 50px; background-image: url('static/img/lock.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center z-depth-1"
        style="min-width: 200px; min-height: 90px; margin: 0 0 40px 0; padding: 0 15px;">
        <div class="d-flex flex-column">
          <span class="avail-rooms-span" style="color: black; font-size: 25px;"></span>
          <span style="font-size: 15px;">Available Room(s)</span>
          <span style="font-size: 10px;">As of this moment</span>
        </div>
        <div class=""
          style="width: 50px; height: 50px; background-image: url('static/img/unlock.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
        </div>
      </div>
    </div>

    <!-- generate report -->
    <div class="d-flex flex-column z-depth-1" style="margin-bottom: 20px; padding: 10px;">
      <span style="color: black; text-transform: uppercase; font-size: 15px; font-weight: bold;">generate report</span>
      <div class="d-flex flex-wrap justify-content-center align-items-center" style="margin-top: 20px;">
        <a class="btn btn-sm btn-dark" href="#">List of properties</a>
        <a class="btn btn-sm btn-dark" href="#">List of rooms</a>
        <a class="btn btn-sm btn-dark" href="#">list of active tenants</a>
        <a class="btn btn-sm btn-dark" href="#">List of payments</a>
        <a class="btn btn-sm btn-dark" href="#">List of expenses</a>
      </div>
    </div>
    <!-- end of generate report -->

  </div>
  <!-- end of tiles -->

  <!-- cashflow -->
  <div class="d-flex flex-column justify-content-center z-depth-1" style="width: 500px; margin: 0; padding: 10px;">
    <h2>Month-Year:</h2>
    <select class="mdb-select md-form my-select">
      {% for month_year in month_years %}
      <option value="{{month_year|date:'m-y'}}">{{month_year|date:"M-Y"}}</option>
      {% endfor %}
    </select>
    <div class="d-flex flex-column flex-wrap justify-content-center" style="margin-bottom: 10px;">
      <span style="color: black; text-transform: uppercase; font-size: 15px; font-weight: bold;">Cashflow</span>
    </div>

    <!-- row 1 -->
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-around align-items-center z-depth-1"
        style="width: 400px; height: 90px; margin: 0 0 20px 0; padding: 0 15px;">
        <div class="d-flex flex-column">
          <span class="payments-span" style="color: black; font-size: 25px;"></span>
          <span style="font-size: 15px;">Payment</span>
          <span style="font-size: 10px;">For This Month</span>
        </div>
        <div class=""
          style="width: 40px; height: 40px; background-image: url('static/img/arrow_up.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
        </div>
        <div class="" style="height: 90px; border: 1px solid black;"></div>
        <div class="d-flex flex-column">
          <span class="expenses-span" style="color: black; font-size: 25px;"></span>
          <span style="font-size: 15px;">Expense</span>
          <span style="font-size: 10px;">For This Month</span>
        </div>
        <div class=""
          style="width: 40px; height: 40px; background-image: url('static/img/arrow_down.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
        </div>
      </div>
    </div>

    <!-- row 2 -->
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-between align-items-center z-depth-1"
        style="min-width: 250px; min-height: 90px; margin: 0 20px 20px 20px; padding: 0 15px;">
        <div class="d-flex flex-column">
          <span class="net-span" style="color: black; font-size: 25px;"></span>
          <span style="font-size: 15px;">Net Income</span>
          <span style="font-size: 10px;">Payment - Expenses</span>
        </div>
        <div class=""
          style="width: 50px; height: 50px; background-image: url('static/img/net_income.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
        </div>
      </div>
    </div>

    <!-- pie chart -->
    <div class="" id="" style="margin: 0 auto;">

    </div>
    <!-- end of pie chart -->

  </div>
  <!-- end of cashflow -->


</div>

{% else %}
<div class="row d-flex justify-content-center">
  <div class="d-flex justify-content-center" style="margin-top: 20px;">
    <span style="font-size: 22px;">There are currently no registered properties under your account.</span>
  </div>
</div>
{% endif %}

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function () {
    var val = $('.property-select').val();
    var my = $('.my-select').val();
    $('.property-name-span').html($(".property-select option:selected").text());
    $.ajax({
      url: '/home-ajax',
      data: {
        'val': val,
        'my': my
      },
      dataType: 'json',
      success: function (data) {
        if (data) {
          $('.active-tenants-span').html(data.active_tenants);
          $('.pending-bookings-span').html(data.pending_bookings);
          $('.active-rooms-span').html(data.active_rooms);
          $('.avail-rooms-span').html(data.avail_rooms);
          $('.payments-span').html(data.payments);
          $('.expenses-span').html(data.expenses);
          $('.net-span').html(data.net_income);
        }
      }
    });

    $(".property-select").on("change", function () {
      var val = $('.property-select').val();
      var my = $('.my-select').val();
      $('.property-name-span').html($(".property-select option:selected").text());
      $.ajax({
        url: '/home-ajax',
        data: {
          'val': val,
          'my': my
        },
        dataType: 'json',
        success: function (data) {
          if (data) {
            $('.active-tenants-span').html(data.active_tenants);
            $('.pending-bookings-span').html(data.pending_bookings);
            $('.active-rooms-span').html(data.active_rooms);
            $('.avail-rooms-span').html(data.avail_rooms);
            $('.payments-span').html(data.payments);
            $('.expenses-span').html(data.expenses);
            $('.net-span').html(data.net_income);
          }
        }
      });
    });

    $(".my-select").on("change", function () {
      var val = $('.property-select').val();
      var my = $('.my-select').val();
      $.ajax({
        url: '/home-ajax',
        data: {
          'val': val,
          'my': my
        },
        dataType: 'json',
        success: function (data) {
          if (data) {
            $('.active-tenants-span').html(data.active_tenants);
            $('.pending-bookings-span').html(data.pending_bookings);
            $('.active-rooms-span').html(data.active_rooms);
            $('.avail-rooms-span').html(data.avail_rooms);
            $('.payments-span').html(data.payments);
            $('.expenses-span').html(data.expenses);
            $('.net-span').html(data.net_income);
          }
        }
      });
    });

  });
</script>
{% endblock extra_js %}