{% extends "layout/layout.html" %}
{% load static %}

{% block layout2 %}
<div class="container-fluid mt-4">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" style="margin-bottom: 20px;">
      <span style="font-size: 25px; font-weight: bold;">{{room.property_id.name}}</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-ellipsis-h"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample10">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'property' %}">Listing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'amenities' %}">Amenities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'photos' %}">Photos</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>
</div>
{% endblock %}
