{% extends "base.html" %}
{% load static %}

{% block layout %}

<!-- navbar -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container">
    <!-- logo -->
    <a href="{% url 'home' %}" style="margin-right: 20px;">
      <img src="{% static "img\logo_white.png" %}" alt="" style="width:170px; height: 35px; margin:0 auto;">
    </a>

    <!-- expand button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- navigation -->
    <div class="navbar-collapse collapse" id="navbarsExample04">

      <!-- links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-item-custom">
          <a class="nav-link" style="" href="{% url 'explore' %}">Explore</a>
        </li>
        <li class="nav-item nav-item-custom">
          <a class="nav-link" style="" href="{% url 'booking_guide' %}">Booking Guide</a>
        </li>
        <li class="nav-item nav-item-custom dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
            About Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width: auto; height: auto; padding: 20px;">
            <a class="nav-link" style="margin: 0 0 5px 2px; padding: 0; color: black;" href="{% url 'about' %}">What is Roomy?</a>
            <a class="nav-link" style="margin: 0 0 5px 2px; padding: 0; color: black;" href="{% url 'contact' %}">Contact Us</a>
            <a class="nav-link" style="margin: 0 0 5px 2px; padding: 0; color: black;" href="{% url 'faq' %}">FAQs</a>
          </div>
        </li>
        <li class="nav-item nav-item-custom">
          <a class="nav-link" style="" href="{% url 'partner_with_us' %}">Partner With Us</a>
        </li>
      </ul>
      <!-- end of links -->

      <!-- login/signup -->
      <div class="wrapper">
        {% if user.is_authenticated %}
        <span style="color:white">Logged in as {{user.username}}</span>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" style="text-decoration:none"><button class="btn btn-sm btn-light" style="margin-left: 10px;">Log in</button></a>
        {% endif %}
      </div>

    </div>
    <!-- end of navigation -->
  </div>
</nav>
<!-- end of navbar -->

<!-- modals -->
<!-- login modal -->
<form class="" action="#" method="post">

  <!-- modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">

      <!-- modal content -->
      <div class="modal-content" style="width: 400px; height: auto; margin: 0 auto; border-radius: 15px;">

        <!-- modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
                    <img src="{% static "img\logo_black.png" %}" alt="" style="width:170px; height: 35px;">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3" style="width: 100px;">Username</span>
                    </div>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3" style="width: 100px;">Password</span>
                    </div>
                    <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
                  <div class="d-flex justify-content-center" style="margin-top: 40px;">
                    <button type="button" class="btn btn-sm btn-dark">Log in</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center" style="font-size: 14px;">
                <a href="#" data-toggle="modal" data-target="#forgotPasswordModal" data-dismiss="modal">Forgot password?</a> <br>
                <span>Don't have an account yet?</span>
                <a href="#" type="button" name="button" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">Sign up</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</form>
<!-- end of login modal -->

<!-- signup modal -->
<form class="" action="#" method="post">

  <!-- modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

    <div class="modal-dialog" role="document">

      <!-- modal content -->
      <div class="modal-content" style="width: 400px; height: auto; margin: 0 auto; border-radius: 15px;">

        <!-- modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
                    <img src="{% static "img\logo_black.png" %}" alt="" style="width:170px; height: 35px;">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3" style="width: 100px;">Username</span>
                    </div>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3" style="width: 100px;">Email</span>
                    </div>
                    <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3" style="width: 100px;">Password</span>
                    </div>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
                  <div class="d-flex justify-content-center" style="margin-top: 40px;">
                    <button type="button" class="btn btn-sm btn-dark">Sign Up</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <span class="text-center" style="font-size: 12px;">By signing up, you agree to our <a href="{% url 'terms_of_use' %}" target="_blank">Terms of Use</a> and <a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a>.</span>
              </div>
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center" style="font-size: 14px;">
                <span>Already have an account?</span>
                <a href="#" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Log in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- end of signup modal -->

<!-- forgot password modal -->
<form class="" action="#" method="post">

  <!-- modal -->
  <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">

      <!-- modal content -->
      <div class="modal-content" style="width: 400px; height: auto; margin: 0 auto; border-radius: 15px;">

        <!-- modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
                  <img src="{% static "img\logo_black.png" %}" alt="" style="width:170px; height: 35px;">
                </div>
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3" style="width: 100px;">Email</span>
                    </div>
                    <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
                  <div class="d-flex justify-content-center" style="margin-top: 40px;">
                    <button type="button" class="btn btn-sm btn-dark">Reset Password</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center" style="font-size: 14px;">
                <span>Back to </span>
                <a class="" href="#" type="button" name="button" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Log in</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</form>
<!-- end of forgot password modal -->
<!-- end of modals -->

{% endblock %}

<div id="main-container" class="container-fluid">
  {% block content %}

  {% endblock %}
</div>
{% block footer %}
  <!-- footer -->
  <footer class="page-footer font-small black pt-4" style="padding-bottom: 100px;">
    <div class="container-fluid">
      <div class="container">
        <div class="row">

          <!-- Company -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Roomy</h5>

            <ul class="navbar-nav d-flex flex-column justify-content-start text-left">
              <li class="nav-item">
                <div class="d-flex justify-content-start align-items-center">
                  <a class="nav-link nav-link-custom2" style="margin: 0 0 5px 2px; padding: 0; " href="{% url 'about' %}">About Us</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="d-flex justify-content-start align-items-center">
                  <a class="nav-link nav-link-custom2" style="margin: 0 0 5px 2px; padding: 0; " href="{% url 'faq' %}">FAQs</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="d-flex justify-content-start align-items-center">
                  <a class="nav-link nav-link-custom2" style="margin: 0 0 5px 2px; padding: 0; " href="{% url 'contact' %}">Contact Us</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="d-flex justify-content-start align-items-center">
                  <a class="nav-link nav-link-custom2" style="margin: 0 0 5px 2px; padding: 0; " href="{% url 'terms_of_use' %}">Terms of use</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="d-flex justify-content-start align-items-center">
                  <a class="nav-link nav-link-custom2" style="margin: 0 0 5px 2px; padding: 0; " href="{% url 'privacy' %}">Privacy</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="d-flex justify-content-start align-items-center">
                  <a class="nav-link nav-link-custom2" style="margin: 0 0 5px 2px; padding: 0; " href="{% url 'help_center' %}">Help Center</a>
                </div>
              </li>
            </ul>
            </ul>

          </div>

          <!-- Follow Social Links -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- links -->
            <h5 class="text-uppercase">FOLLOW</h5>

            <ul class="navbar-nav d-flex flex-column justify-content-start text-left">
              <li class="nav-item">
                <div class="d-flex justify-content-start align-items-center">
                  <img src="{% static "img\facebook.png" %}" alt="" style="width: 15px; height: 15px; margin: 0 0 5px 2px; padding: 0; ">
                  <span>&nbsp</span>
                  <a class="nav-link nav-link-custom2" style="margin: 0 0 5px 2px; padding: 0; " href="#">Facebook</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="d-flex justify-content-start align-items-center">
                  <img src="{% static "img\twitter.png" %}" alt="" style="width: 15px; height: 15px; margin: 0 0 5px 2px; padding: 0; ">
                  <span>&nbsp</span>
                  <a class="nav-link nav-link-custom2" style="margin: 0 0 5px 2px; padding: 0; " href="#">Twitter</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="d-flex justify-content-start align-items-center">
                  <img src="{% static "img\instagram.png" %}" alt="" style="width: 15px; height: 15px; margin: 0 0 5px 2px; padding: 0; ">
                  <span>&nbsp</span>
                  <a class="nav-link nav-link-custom2" style="margin: 0 0 5px 2px; padding: 0; " href="#">Instagram</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="d-flex justify-content-start align-items-center">
                  <img src="{% static "img\youtube.png" %}" alt="" style="width: 15px; height: 15px; margin: 0 0 5px 2px; padding: 0; ">
                  <span>&nbsp</span>
                  <a class="nav-link nav-link-custom2" style="margin: 0 0 5px 2px; padding: 0; " href="#">Youtube</a>
                </div>
              </li>
            </ul>
            <!-- end of links -->

          </div>

          <hr class="clearfix w-100 d-md-none pb-3">

          <div class="col-md-6 mt-md-0 mt-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <h5 style=" margin-bottom: 10px;">DOWNLOAD OUR APP NOW</h5>
              <img src="{% static "img\svg_playstore.svg" %}" alt="">
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <!-- end of footer -->
{% endblock %}
