{% extends "index.html" %}
{% load static %}

{% block layout %}
<style media="screen">
  .sidebar {
    height: 100%;
    margin: 0;
    padding: 10px 20px 10px 20px;
    flex-basis: 250px;
    flex-grow: 1;
  }

  .content-bar {
    margin: 0;
    padding: 0;
    flex-basis: 0;
    flex-grow: 999;
  }

  @media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}

</style>

<!-- container -->
<div class="container-fluid d-flex flex-wrap align-items-stretch" style="height: 100%; position: fixed; top: 0; margin: 0; padding: 0; border-top: 2px solid #F53D3D;">

  <!-- sidebar -->
  <div class="sidebar bg-dark d-flex flex-column justify-content-start align-items-start">

    <!-- logo -->
    <a href="{% url 'home' %}" style="margin: 0 auto 20px auto;">
      <img src="{% static "img\logo_white.png" %}" alt="" style="width:170px; height: 35px; margin:0 auto;">
    </a>
    <!-- end of logo -->

    <!-- account -->
    <div class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; margin: 0 auto 30px auto;">

      <!-- profile picture -->
      <div class="profile-picture"
        style="width: 70px; height: 70px; margin-bottom: 10px; border-radius: 35px; background-image: url('/static/img/profile_default.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
      <!-- end of profile picture -->

      <!-- profile info -->
      <div class="dropdown dropright d-flex justify-content-center align-items-center" style="width: 100%;">
        <button class="btn btn-sm dropdown-toggle" style="margin: 0 0 0 10px; border-radius: 20px; background-color: #F53D3D;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style="margin: 0 20px 0 20px; font-size: 12px;">{{ request.user.username }}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="height: 100px; background-color: #F53D3D; border-radius: none;">
          <style media="screen">
            .account-link {
              margin: 10px;
              color: black;
              font-size: 13px;
            }

            .account-link:hover {
              color: black;
              font-weight: 400;
            }
          </style>
          <div class="d-flex flex-column justify-content-start">
            <div class="d-flex justify-content-start align-items-center" style="margin: 0 0 0 15px;">

              <a class="account-link" href="#"><span style="margin: 0 5px 0 10px;"><i class="far fa-user"></i></span>Profile</a>
            </div>
            <div class="d-flex justify-content-start align-items-center" style="margin: 0 0 0 15px;">

              <a class="account-link" href="{% url 'admin-logout' %}"><span style="margin: 0 5px 0 10px;"><i class="fas fa-sign-out-alt"></i></span>Log out</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end of profile info -->
    </div>

    <!-- navigation links -->
    <div class="d-flex flex-column justify-content-start align-items-start" style="width: 100%; height: 100%;">
      <style media="screen">
        .nav-link-custom {
          width: 100%;
          margin: 0;
          padding: 2px 0 2px 18px;
          border-radius: 20px;
          font-size: 15px;
          color: white;
        }

        .nav-link-custom:hover {
          color: black;
          font-weight: 400;
          background-color: #F53D3D;
        }
      </style>
      <!-- dashboard -->
      <span style="width: 100%; margin-bottom: 5px; padding-bottom: 5px; font-size: 17px; color: white; border-bottom: 1px solid #F53D3D;"><span style="margin-right: 5px; "><i class="fas fa-tachometer-alt"></i></span>Dashboard</span>
      <a class="nav-link-custom" href="{% url 'booking' %}"><i class="fas fa-book" style="margin-right: 10px;"></i>Booking</a>
      <a class="nav-link-custom" href="{% url 'rental' %}"><i class="fas fa-address-book" style="margin-right: 10px;"></i>Rental</a>
      <a class="nav-link-custom" href="{% url 'tenant' %}"><i class="fas fa-user" style="margin-right: 10px;"></i>Tenant</a>
      <a class="nav-link-custom" href="{% url 'guest' %}"><i class="fas fa-user-friends" style="margin-right: 10px;"></i>Guest</a>
      <a class="nav-link-custom" href="{% url 'notif' %}"><i class="fas fa-bell" style="margin-right: 10px;"></i>Tenant Notifications</a>
      <a class="nav-link-custom" href="{% url 'request' %}"><i class="far fa-comment" style="margin-right: 10px;"></i>Tenant Request</a>

      <a class="nav-link-custom" href="{% url 'billing' %}"><i class="fas fa-hand-holding-usd"  style="margin-right: 10px;"></i></i>Billing</a>
      <!-- end of dashboard-->

      <!-- divider -->
      <span style="font-size: 10px; color: white;">&nbsp;</span>
      <!-- divider -->

      <!-- management-->
      <span style="width: 100%; margin-bottom: 5px; padding-bottom: 5px; font-size: 17px; color: white; border-bottom: 1px solid #F53D3D;"><span style="margin-right: 5px;"><i class="fas fa-cogs"></i></span>Management</span>
      <a class="nav-link-custom" href="{% url 'property_management' %}"><i class="far fa-building" style="margin-right: 10px;"></i>Property</a>
      <a class="nav-link-custom" href="{% url 'room_management' %}"><i class="fas fa-bed" style="margin-right: 10px;"></i>Room</a>
      <a class="nav-link-custom" href="{% url 'expense' %}"><i class="fas fa-dollar-sign" style="margin-right: 10px;"></i>Expenses</a>
      <a class="nav-link-custom" href="{% url 'fee' %}"><i class="fas fa-file-invoice-dollar" style="margin-right: 10px;"></i></i>Fees</a>
      <a class="nav-link-custom" href="{% url 'cashflow' %}"><i class="fas fa-cash-register" style="margin-right: 10px;"></i>Cashflow</a>
      <!-- end of management-->
    </div>
    <!-- end of navigation links -->

  </div>
  <!-- end of sidebar -->

  <div class="content-bar">
    <!-- topbar -->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-end" id="navbar" style="width: 100%; height: 50px;">

      <!-- expand button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-ellipsis-h" style="color: #F53D3D;"></i></button>

    </div>
    <!-- end of topbar -->

    {% block content %}

    {% endblock %}

  </div>
</div>


{% endblock %}
<!-- end of sidebar & content -->
