{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
  <div class="container">
    <div class="row" style="margin: 20px 0 20px 0;">
      <div class="col-sm-1"></div>
      <div class="col-sm-6 bg-light" style="padding: 20px;">
        <h3>Frequently Asked Questions (FAQ)</h3> <br>
        <h5>What are the requirements to make a booking?</h5>
        <p>Your safety is important to us. That's why we require a valid government ID, company ID, and NBI / Barangay Clearance for everyone who stays in Citihub.</p> <br>

        <h5>Can I book in advance?</h5>
        <p>Yes. You can make a reservation up to six months in advance. Once you pay your reservation fee, your bed will be reserved.</p> <br>

        <h5>Do you accept walk-ins?</h5>
        <p>Sure. Our resident manager will assist you, Tuesdays to Saturdays 9am to 6pm.</p> <br>

        <h5>How long can I stay?</h5>
        <p>Each booking can be a maximum of five months. If you want to stay for longer, or if you want to extend your stay, you just need to make another booking.</p> <br>

        <h5>What happens if I need to cancel my reservation?</h5>
        <p>You can cancel your booking up to seven days before your check-in date. Your reservation fee minus 500 pesos will be refunded.</p> <br>

        <h5>Can I cancel my booking once it's started?</h5>
        <p>Yes, but your deposit and the remaining advance will be forfeited.</p> <br>

        <h5>Can I visit the site?</h5>
        <p>Our office is open from Tuesday to Saturday, 9am to 6pm. In case you want to visit the site outside office hours, you can ask for assistance from our security personnel.</p> <br>

        <h5>What time can I check in?</h5>
        <p>You can check-in at any time. Our resident manager or security personnel will assist you.</p> <br>

        <h5>How do I pay?</h5>
        <p>When you need to pay for your reservation fee or monthly rent, we'll send you a text/email with a link to pay. Payment is done through Coins.ph. <br> <br>

        <a href="#">Learn more about how to pay with Coins.ph</a></p> <br>



        <h5>What is the reservation fee?</h5>
        <p>For short stays (1 month) your reservation fee is 1-month advance plus any add-ons you've availed.</p> <br>

        <p>For longer stays (2 to 5 months) your reservation fee is 1-month advance plus 1 month-deposit plus any add-ons you've availed. Your deposit is consumable on the last month. That means you only have to pay for add-ons on your last month.</p> <br>

        <h5>When are my payments due?</h5>
        <p>The reservation fee is due 3 business days after your booking request is approved.</p> <br>

        <p>Payments for the next month are due at the end of your current booking period. Please note that each month is counted as 30 days, so if your first month starts at May 1, your payment for next month is due on May 31, and payment for the month after that is due on June 30.</p> <br>

        <h5>What happens if I can't pay on time?</h5>
        <p>We understand that sometimes it's hard to make rent, but we have to make sure everybody pays their rent on time. We will charge a 20% overdue penalty on late payments. Please make it a point to pay on-time to avoid any penalties.</p> <br>

        <h5>Do you have a female dormitory?</h5>
        <p>Unfortunately, we don't have any female dormitories yet. But we're looking into opening one in the future. Stay tuned!</p> <br>

        <h5>Can I sub-lease my bed? Or is the contract of lease transferable?</h5>
        <p>No, you cannot sub-lease your bed or transfer your contract.</p> <br>

        <h5>No, you cannot sub-lease your bed or transfer your contract.</h5>
        <p>Yes, we provide parking slots for motorcycles and cars as an add-on. Parking availability may differ between sites.</p> <br>

        <h5>Can I invite a somebody over?</h5>
        <p>To ensure the privacy and safety of our tenants, visitors are not allowed inside the premises.</p> <br>

        <h5>Am I allowed to bring appliances?</h5>
        <p>No, appliances are not allowed inside the premises.</p> <br>

        <h5>Can I transfer to a different bed?</h5>
        <p>We allow you to choose your bed at check-in, but if after that you decide that you want to move, bed transfers cost P200. This is to pay for the overhead incurred with the scheduling changes.</p> <br>

        <h5>Who is responsible for cleaning the beds and the common area?</h5>
        <p>Nobody wants to live in a dump. Please practice CLAYGO (Clean As You Go) inside Citihub. You're responsible for making sure that your own bed is neat and tidy, but the maintenance staff will handle the common areas (hallways, showers, etc).</p> <br>

        <h5>Is there a tenant curfew?</h5>
        <p>No, there is no tenant curfew.</p> <br>

        <h5>Why is there an age limit?</h5>
        <p>Unfortunately, we can only accept minors and senior citizens on a case-by-case basis. Our dormitories are very vertical with our bunk beds and three floors which makes them hard to navigate for the elderly. If you still want to stay with us, please contact us directly.</p> <br>
      </div>
      <div class="col-sm-5"></div>
    </div>
  </div>
</div>


{% endblock %}
