{% extends "layout.html" %}

{% block title %}
  Cashflow
{% endblock %}

{% block content %}
<div class="content">

  <table cellpadding="10">
    <tbody>
      <tr>
        <td>
          <span class="filter-span">Date Range</span> <br>
          <input class="filter-input" type="text" placeholder="i dont know how to date range" name="" value="">
        </td>
        <td>
          <span class="filter-span">Keyword</span> <br>
          <input class="filter-input" type="text" name="" value="">
        </td>
      </tr>
    </tbody>
    <div class="text-left" style="float: right;">
      Result(s): <br> <br>
      <button class="btn btn-primary" type="button" name="button">Download Excel File</button>
    </div>
  </table>

  <br>

  <table class="table table-bordered">
    <thead>
      <th>NO</th>
      <th>PLACEHOLDER</th>
      <th>PLACEHOLDER</th>
      <th>PLACEHOLDER</th>
      <th>PLACEHOLDER</th>
      <th>PLACEHOLDER</th>
      <th>PLACEHOLDER</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>

{% endblock %}

{% block header %}
  CASHFLOW
{% endblock %}
