{% extends "layout.html" %}

{% block title %}
  Rental
{% endblock %}

{% block content %}
<div class="content">

  <table cellpadding="10">
    <tbody>
      <tr>
        <td>
          <span class="filter-span">Type</span> <br>
          <select class="filter-type" name="rental-type">
            <option value="">All</option>
            <option value="">Active Transaction</option>
            <option value="">Close Transaction</option>
          </select>
        </td>
        <td>
          <span class="filter-span">Property</span> <br>
          <select class="filter-type" name="property">
            <option value="">All</option>
          </select>
        </td>
        <td>
          <span class="filter-span">Keyword</span> <br>
          <input class="filter-input" type="text" name="" value="">
        </td>
      </tr>
    </tbody>
    <div class="text-left" style="float: right;">
      Result(s): <br> <br>
      <button class="btn btn-primary" type="button" name="button">DOWNLOAD EXCEL</button>
    </div>
  </table>

  <br>

  <table class="table table-bordered">
    <thead>
      <th>Id</th>
      <th>Room Id</th>
      <th>Status</th>
      <th>Move in Date</th>
      <th>Vacating Date</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>

{% endblock %}

{% block header %}
  RENTAL
{% endblock %}
