{% extends "layout.html" %}

{% block title %}
  Room Management
{% endblock %}

{% block content %}
<div class="content">

  <table cellpadding="10">
    <tbody>
      <tr>
        <td>
          <label class="col-form-label">Property</label> <br>
          <select class="form-control" name="property">
            <option value="">All</option>
          </select>
        </td>
        <td>
          <label class="col-form-label">Status</label> <br>
          <select class="form-control" name="rental-type">
            <option value="">All</option>
            <option value="">Available</option>
            <option value="">Occupied</option>
            <option value="">Under renovation</option>
          </select>
        </td>
        <td>
          <label class="col-form-label">Keyword</label> <br>
          <input class="form-control" type="text" name="" value="">
        </td>
      </tr>
    </tbody>
    <div class="text-left" style="float: right;">
      Result(s): <br> <br>
      <a class="btn btn-primary" href="{% url 'add_room' %}">Add room</a> <button class="btn btn-primary" type="button" name="button">Download Excel File</button>
    </div>
  </table>

  <br>

  <table class="table table-bordered">
    <thead>
      <th>Id</th>
      <th>Property</th>
      <th>Floor</th>
      <th>Number</th>
      <th>Rate</th>
      <th>Type</th>
      <th>Status</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>

{% endblock %}

{% block header %}
  ROOM MANAGEMENT
{% endblock %}
