{% extends "layout.html" %}

{% block title %}
Transaction
{% endblock %}

{% block content %}
<div class="content d-flex flex-row">

  <div class="menu d-flex flex-column justify-content-start align-items-center">
    <a href="#"  class="menu-item text-center">
      <img src="" alt="property-png-icon"> <br>
      <span>PROPERTY</span>
    </a>
    <a href="#"  class="menu-item">
      <img src="" alt="property-png-icon"> <br>
      <span>Rental</span>
    </a>
    <a href="#"  class="menu-item">
      <img src="" alt="property-png-icon"> <br>
      <span>Payment</span>
    </a>
    <a href="#"  class="menu-item">
      <img src="" alt="property-png-icon"> <br>
      <span>Expense</span>
    </a>
  </div>

  <div class="wrapper">
    <form class="main-transaction d-flex flex-column justify-content-start" action="index.html" method="post">
      <div class="">
        <h5>Property Information</h5>
      </div>
      <div class="form-wrapper d-flex flex-column flex-wrap">
        <div class="form-group" style="margin: 10px;">
          <label class="col-form-label">Property</label> <br>
          <input class="form-control" type="text" name="" value="">
        </div>
        <div class="form-group" style="margin: 10px;">
          <label class="col-form-label">Location</label> <br>
          <input class="form-control" type="text" name="" placeholder="Street" value="">
        </div>
        <div class="form-group" style="margin: 10px;">
          <input class="form-control" type="text" name="" placeholder="Barangay" value="">
        </div>
        <div class="form-group" style="margin: 10px;">
          <input class="form-control" type="text" name="" placeholder="City" value="">
        </div>
        <div class="form-group" style="margin: 10px;">
          <label class="col-form-label">Photos</label> <br>
          <input class="" type="file" name="pic" accept="image/*" multiple>
        </div>
      </div>
      <div class="button-wrapper" style="margin-top: 50px; margin-right: auto; margin-left: auto;">
        <button class="btn btn-primary" type="button" name="button">Reset</button>
        <button class="btn btn-primary" type="button" name="button">Submit</button>
      </div>
    </form>
  </div>

</div>
{% endblock %}

{% block header %}
TRANSACTION
{% endblock %}
